<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<title>Luma | Dashboard</title>
	<link rel="shortcut icon" href="../assets/img/luma.png?v=<%=VERSION.TAG%>" />
	<link rel="stylesheet" href="../assets/css/main.css?v=<%=VERSION.TAG%>">
	<link rel="stylesheet" href="../assets/css/admin/home.css?v=<%=VERSION.TAG%>">
	<script>
		var VERSION = {
			TAG: `<%=VERSION.TAG%>`,
			NUMBER: `<%=VERSION.NUMBER %>`,
			VERSION_NAME: `<%=VERSION.VERSION_CODE%>`,
			REV: `<%=VERSION.REVISION %>`,
		}
	</script>
	<script src="../assets/js/jquery.js?v=<%=VERSION.TAG%>"></script>
	<script src="../assets/js/remote-access.js?v=<%=VERSION.TAG%>"></script>
	<script src="../assets/js/admin/postIdentifier.js?v=<%=VERSION.TAG%>"></script>
	<script src="../assets/js/admin/session.js?v=<%=VERSION.TAG%>"></script>
	<script src="../assets/js/admin/system.js?v=<%=VERSION.TAG%>"></script>
	<script src="../assets/js/inputMask.js?v=<%=VERSION.TAG%>"></script>
</head>

<body>
	<div class="xloading progress">
		<div class="indeterminate"></div>
	</div>
	<div class="flex master-page">
		<aside id="asideMST" class="flex column h-sb">
			<div>
				<div class=" inTop flex h-sb v-ct">
					<b>LUMA</b>
					<div class="flex v-ct lft">
						<svg class="spinner" viewBox="0 0 50 50">
							<circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
						</svg>
						<svg class="svg_menu tglTarget" target="asideMST" viewBox="0 -53 384 384">
							<path
								d="m368 154.667969h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0" />
							<path
								d="m368 32h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0" />
							<path
								d="m368 277.332031h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0" />
						</svg>
					</div>
				</div>
				<div class="mainMenu">
					<ul menuAcessos>
						<!--<li class="tgl active flex  v-ct">
                            <svg enable-background="new 0 0 512 512" viewBox="0 0 512 512"><g><path d="m426 495.983h-340c-25.364 0-46-20.635-46-46v-242.02c0-8.836 7.163-16 16-16s16 7.164 16 16v242.02c0 7.72 6.28 14 14 14h340c7.72 0 14-6.28 14-14v-242.02c0-8.836 7.163-16 16-16s16 7.164 16 16v242.02c0 25.364-20.635 46-46 46z"/><path d="m496 263.958c-4.095 0-8.189-1.562-11.313-4.687l-198.989-198.987c-16.375-16.376-43.02-16.376-59.396 0l-198.988 198.988c-6.248 6.249-16.379 6.249-22.627 0-6.249-6.248-6.249-16.379 0-22.627l198.988-198.989c28.852-28.852 75.799-28.852 104.65 0l198.988 198.988c6.249 6.249 6.249 16.379 0 22.627-3.123 3.125-7.218 4.687-11.313 4.687z"/><path d="m320 495.983h-128c-8.837 0-16-7.164-16-16v-142c0-27.57 22.43-50 50-50h60c27.57 0 50 22.43 50 50v142c0 8.836-7.163 16-16 16zm-112-32h96v-126c0-9.925-8.075-18-18-18h-60c-9.925 0-18 8.075-18 18z"/></g></svg>
                            <span>Home</span>
                        </li>
                        <li class="tgl flex  v-ct">
                            <svg enable-background="new 0 0 512 512" viewBox="0 0 512 512">
                                <path
                                    d="m272.066 512h-32.133c-25.989 0-47.134-21.144-47.134-47.133v-10.871c-11.049-3.53-21.784-7.986-32.097-13.323l-7.704 7.704c-18.659 18.682-48.548 18.134-66.665-.007l-22.711-22.71c-18.149-18.129-18.671-48.008.006-66.665l7.698-7.698c-5.337-10.313-9.792-21.046-13.323-32.097h-10.87c-25.988 0-47.133-21.144-47.133-47.133v-32.134c0-25.989 21.145-47.133 47.134-47.133h10.87c3.531-11.05 7.986-21.784 13.323-32.097l-7.704-7.703c-18.666-18.646-18.151-48.528.006-66.665l22.713-22.712c18.159-18.184 48.041-18.638 66.664.006l7.697 7.697c10.313-5.336 21.048-9.792 32.097-13.323v-10.87c0-25.989 21.144-47.133 47.134-47.133h32.133c25.989 0 47.133 21.144 47.133 47.133v10.871c11.049 3.53 21.784 7.986 32.097 13.323l7.704-7.704c18.659-18.682 48.548-18.134 66.665.007l22.711 22.71c18.149 18.129 18.671 48.008-.006 66.665l-7.698 7.698c5.337 10.313 9.792 21.046 13.323 32.097h10.87c25.989 0 47.134 21.144 47.134 47.133v32.134c0 25.989-21.145 47.133-47.134 47.133h-10.87c-3.531 11.05-7.986 21.784-13.323 32.097l7.704 7.704c18.666 18.646 18.151 48.528-.006 66.665l-22.713 22.712c-18.159 18.184-48.041 18.638-66.664-.006l-7.697-7.697c-10.313 5.336-21.048 9.792-32.097 13.323v10.871c0 25.987-21.144 47.131-47.134 47.131zm-106.349-102.83c14.327 8.473 29.747 14.874 45.831 19.025 6.624 1.709 11.252 7.683 11.252 14.524v22.148c0 9.447 7.687 17.133 17.134 17.133h32.133c9.447 0 17.134-7.686 17.134-17.133v-22.148c0-6.841 4.628-12.815 11.252-14.524 16.084-4.151 31.504-10.552 45.831-19.025 5.895-3.486 13.4-2.538 18.243 2.305l15.688 15.689c6.764 6.772 17.626 6.615 24.224.007l22.727-22.726c6.582-6.574 6.802-17.438.006-24.225l-15.695-15.695c-4.842-4.842-5.79-12.348-2.305-18.242 8.473-14.326 14.873-29.746 19.024-45.831 1.71-6.624 7.684-11.251 14.524-11.251h22.147c9.447 0 17.134-7.686 17.134-17.133v-32.134c0-9.447-7.687-17.133-17.134-17.133h-22.147c-6.841 0-12.814-4.628-14.524-11.251-4.151-16.085-10.552-31.505-19.024-45.831-3.485-5.894-2.537-13.4 2.305-18.242l15.689-15.689c6.782-6.774 6.605-17.634.006-24.225l-22.725-22.725c-6.587-6.596-17.451-6.789-24.225-.006l-15.694 15.695c-4.842 4.843-12.35 5.791-18.243 2.305-14.327-8.473-29.747-14.874-45.831-19.025-6.624-1.709-11.252-7.683-11.252-14.524v-22.15c0-9.447-7.687-17.133-17.134-17.133h-32.133c-9.447 0-17.134 7.686-17.134 17.133v22.148c0 6.841-4.628 12.815-11.252 14.524-16.084 4.151-31.504 10.552-45.831 19.025-5.896 3.485-13.401 2.537-18.243-2.305l-15.688-15.689c-6.764-6.772-17.627-6.615-24.224-.007l-22.727 22.726c-6.582 6.574-6.802 17.437-.006 24.225l15.695 15.695c4.842 4.842 5.79 12.348 2.305 18.242-8.473 14.326-14.873 29.746-19.024 45.831-1.71 6.624-7.684 11.251-14.524 11.251h-22.148c-9.447.001-17.134 7.687-17.134 17.134v32.134c0 9.447 7.687 17.133 17.134 17.133h22.147c6.841 0 12.814 4.628 14.524 11.251 4.151 16.085 10.552 31.505 19.024 45.831 3.485 5.894 2.537 13.4-2.305 18.242l-15.689 15.689c-6.782 6.774-6.605 17.634-.006 24.225l22.725 22.725c6.587 6.596 17.451 6.789 24.225.006l15.694-15.695c3.568-3.567 10.991-6.594 18.244-2.304z" />
                                <path
                                    d="m256 367.4c-61.427 0-111.4-49.974-111.4-111.4s49.973-111.4 111.4-111.4 111.4 49.974 111.4 111.4-49.973 111.4-111.4 111.4zm0-192.8c-44.885 0-81.4 36.516-81.4 81.4s36.516 81.4 81.4 81.4 81.4-36.516 81.4-81.4-36.515-81.4-81.4-81.4z" />
                            </svg>
                            <span>Definições</span>
                        </li>-->
					</ul>
				</div>
			</div>
			<div>
				<div class="postus">
					<b posto></b>
				</div>
				<div class="logged flex showTarget" target="xModalSessionCtrl" tTitle="">
					<div class="img-container round" colaborador_logado_foto></div>
					<div class="inf">
						<b colaborador_logado></b>
						<p colaborador_logado_email></p>
						<p currentUserSpace></p>
					</div>
				</div>
			</div>
		</aside>
		<article class="div-include-pages">
		</article>

		<div id="xModalSessionCtrl" class="x-mobdal XM-sessionCtrl flex v-ct h-ct hideTarget"
			target="xModalSessionCtrl">
			<div class="modal-frame j-stp">
				<div class="flex h-sb v-ct head">
					<h3 targetTitle>User name</h3>

				</div>
				<div  class="theCtnr">
					<div id="amzUHK" class="theUHK  armazene show">
						<h6>Armazéns</h6>
						<div class="xcheck single">
							<ul id="colaborador_logado_armazens">
<!--								<li class="tgl"></li>-->
							</ul>
						</div>
						<div class="flex h-sb v-ct">
							<div class="flex rght v-ct">
								<div class="endSession flex v-ct" terminarSessao>
									<svg viewBox="0 0 511 512">
										<path
											d="m361.5 392v40c0 44.113281-35.886719 80-80 80h-201c-44.113281 0-80-35.886719-80-80v-352c0-44.113281 35.886719-80 80-80h201c44.113281 0 80 35.886719 80 80v40c0 11.046875-8.953125 20-20 20s-20-8.953125-20-20v-40c0-22.054688-17.945312-40-40-40h-201c-22.054688 0-40 17.945312-40 40v352c0 22.054688 17.945312 40 40 40h201c22.054688 0 40-17.945312 40-40v-40c0-11.046875 8.953125-20 20-20s20 8.953125 20 20zm136.355469-170.355469-44.785157-44.785156c-7.8125-7.8125-20.476562-7.8125-28.285156 0-7.8125 7.808594-7.8125 20.472656 0 28.28125l31.855469 31.859375h-240.140625c-11.046875 0-20 8.953125-20 20s8.953125 20 20 20h240.140625l-31.855469 31.859375c-7.8125 7.808594-7.8125 20.472656 0 28.28125 3.90625 3.90625 9.023438 5.859375 14.140625 5.859375 5.121094 0 10.238281-1.953125 14.144531-5.859375l44.785157-44.785156c19.496093-19.496094 19.496093-51.214844 0-70.710938zm0 0" />
									</svg>
									<span>Terminar sessão</span>
								</div>
								<div class="editPass flex v-ct showTarget" tab="true" target="chgUHK">
									<svg enable-background="new 0 0 512 512" viewBox="0 0 512 512">
										<g>
											<path
												d="m459.669 82.906-196-81.377c-4.91-2.038-10.429-2.039-15.338 0l-196 81.377c-7.465 3.1-12.331 10.388-12.331 18.471v98.925c0 136.213 82.329 258.74 208.442 310.215 4.844 1.977 10.271 1.977 15.116 0 126.111-51.474 208.442-174.001 208.442-310.215v-98.925c0-8.083-4.865-15.371-12.331-18.471zm-27.669 117.396c0 115.795-68 222.392-176 269.974-105.114-46.311-176-151.041-176-269.974v-85.573l176-73.074 176 73.074zm-198.106 67.414 85.964-85.963c7.81-7.81 20.473-7.811 28.284 0s7.81 20.474-.001 28.284l-100.105 100.105c-7.812 7.812-20.475 7.809-28.284 0l-55.894-55.894c-7.811-7.811-7.811-20.474 0-28.284s20.474-7.811 28.284 0z" />
										</g>
									</svg>
									<span>Alterar palavra-passe</span>
								</div>
							</div>
							<div class="master-btn-right flex">
<!--								<span sendCrashDump>Enviar relatório de erros</span>-->
								<span class="hideTarget" target="xModalSessionCtrl">FECHAR</span>
							</div>
						</div>
					</div>
					<div id="chgUHK" class="changePass theUHK">
						<h6>Alterar palavra-passe</h6>
						<div class="xform">
							<div class="xinput grow-1 w100">
								<input type="password" placeholder="_" id="colaborador_palavra_passe">
								<label for="colaborador_palavra_passe">Palavra-passe atual</label>
							</div>
							<div class="xinput grow-1 w100">
								<input type="password" placeholder="_" id="colaborador_nova_palavra_passe">
								<label for="colaborador_nova_palavra_passe">Nova palavra-passe</label>
							</div>
							<div class="xinput grow-1 w100">
								<input type="password" placeholder="_" id="colaborador_confirmar_palavra_passe">
								<label for="colaborador_confirmar_palavra_passe">Repita a nova palavra-passe</label>
							</div>
						</div>
						<div class="master-btn-right flex">
							<span class="showTarget" tab="true" target="amzUHK">CANCELAR</span>
							<span alterarSenha>ALTERAR</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="xAlertContainer">
	</div>

	<div id="xModalOpenDocument" class="x-mobdal flex v-ct h-ct m-pdf-visualize" target="xModalOpenDocument">
		<div class="modal-frame">
			<div class="cctnrr flex h-sb">
				<div class="list-pdfs flex column">
					<b>Lista de documentos</b>
					<ul listDocuments class="grow-1"></ul>
				</div>
				<div class="container-pdf grow-1">
					<iframe id="iframe-pdf" src="" frameborder="0"></iframe>
				</div>
			</div>
		</div>
		<div class="controllers">
			<div closeDocuments class="flex v-ct h-ct">
				<svg width="64px" height="64px" viewBox="-3 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>trash</title> <desc>Created with Sketch Beta.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"> <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-261.000000, -205.000000)" fill="#f50505"> <path d="M268,220 C268,219.448 268.448,219 269,219 C269.552,219 270,219.448 270,220 L270,232 C270,232.553 269.552,233 269,233 C268.448,233 268,232.553 268,232 L268,220 L268,220 Z M273,220 C273,219.448 273.448,219 274,219 C274.552,219 275,219.448 275,220 L275,232 C275,232.553 274.552,233 274,233 C273.448,233 273,232.553 273,232 L273,220 L273,220 Z M278,220 C278,219.448 278.448,219 279,219 C279.552,219 280,219.448 280,220 L280,232 C280,232.553 279.552,233 279,233 C278.448,233 278,232.553 278,232 L278,220 L278,220 Z M263,233 C263,235.209 264.791,237 267,237 L281,237 C283.209,237 285,235.209 285,233 L285,217 L263,217 L263,233 L263,233 Z M277,209 L271,209 L271,208 C271,207.447 271.448,207 272,207 L276,207 C276.552,207 277,207.447 277,208 L277,209 L277,209 Z M285,209 L279,209 L279,207 C279,205.896 278.104,205 277,205 L271,205 C269.896,205 269,205.896 269,207 L269,209 L263,209 C261.896,209 261,209.896 261,211 L261,213 C261,214.104 261.895,214.999 262.999,215 L285.002,215 C286.105,214.999 287,214.104 287,213 L287,211 C287,209.896 286.104,209 285,209 L285,209 Z" id="trash" sketch:type="MSShapeGroup"> </path> </g> </g> </g></svg>
			</div>
			<div target="xModalOpenDocument" class="flex v-ct h-ct hideTarget">
				<svg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M11.9425 1.25H12.0573C14.3657 1.24999 16.1747 1.24998 17.5862 1.43975C19.0309 1.63399 20.171 2.03933 21.0658 2.93414C21.9606 3.82895 22.3659 4.96897 22.5602 6.41371C22.7499 7.82519 22.7499 9.63423 22.7499 11.9426V12.0574C22.7499 14.3658 22.7499 16.1748 22.5602 17.5863C22.3659 19.031 21.9606 20.1711 21.0658 21.0659C20.2374 21.8943 19.198 22.3038 17.8993 22.514C16.6225 22.7207 15.0164 22.7458 13.0013 22.7494C12.5871 22.7502 12.2507 22.415 12.2499 22.0008C12.2492 21.5866 12.5843 21.2502 12.9986 21.2494C15.0385 21.2457 16.5216 21.2175 17.6596 21.0333C18.7756 20.8526 19.4765 20.5338 20.0051 20.0052C20.5748 19.4355 20.9017 18.6648 21.0735 17.3864C21.2483 16.0864 21.2499 14.3782 21.2499 12C21.2499 9.62178 21.2483 7.91356 21.0735 6.61358C20.9017 5.33517 20.5748 4.56445 20.0051 3.9948C19.4355 3.42514 18.6647 3.09825 17.3863 2.92637C16.0864 2.75159 14.3781 2.75 11.9999 2.75C9.62169 2.75 7.91347 2.75159 6.61349 2.92637C5.33509 3.09825 4.56437 3.42514 3.99471 3.9948C3.46609 4.52341 3.1473 5.22427 2.96665 6.34031C2.78246 7.47827 2.75416 8.96143 2.75049 11.0014C2.74974 11.4156 2.41335 11.7507 1.99914 11.75C1.58493 11.7493 1.24975 11.4129 1.25049 10.9986C1.25412 8.9835 1.27926 7.37741 1.48592 6.10063C1.69614 4.80193 2.10563 3.76255 2.93405 2.93414C3.82886 2.03933 4.96888 1.63399 6.41362 1.43975C7.82511 1.24998 9.63414 1.24999 11.9425 1.25Z" fill="#e2d003"></path> <path d="M16.5 12C16.5 12.4142 16.1642 12.75 15.75 12.75H12C11.5858 12.75 11.25 12.4142 11.25 12V8.25C11.25 7.83579 11.5858 7.5 12 7.5C12.4142 7.5 12.75 7.83579 12.75 8.25V10.1893L16.4697 6.46967C16.7626 6.17678 17.2374 6.17678 17.5303 6.46967C17.8232 6.76256 17.8232 7.23744 17.5303 7.53033L13.8107 11.25H15.75C16.1642 11.25 16.5 11.5858 16.5 12Z" fill="#e2d003"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M5.948 13.25C5.04952 13.25 4.3003 13.2499 3.70552 13.3299C3.07773 13.4143 2.51093 13.6 2.05546 14.0555C1.59999 14.5109 1.41432 15.0777 1.32991 15.7055C1.24995 16.3003 1.24997 17.0495 1.25 17.948V18.052C1.24997 18.9505 1.24995 19.6997 1.32991 20.2945C1.41432 20.9223 1.59999 21.4891 2.05546 21.9445C2.51093 22.4 3.07773 22.5857 3.70552 22.6701C4.3003 22.7501 5.04951 22.75 5.94798 22.75H6.052C6.95047 22.75 7.69971 22.7501 8.29448 22.6701C8.92228 22.5857 9.48908 22.4 9.94455 21.9445C10.4 21.4891 10.5857 20.9223 10.6701 20.2945C10.7501 19.6997 10.75 18.9505 10.75 18.052V17.948C10.75 17.0495 10.7501 16.3003 10.6701 15.7055C10.5857 15.0777 10.4 14.5109 9.94455 14.0555C9.48908 13.6 8.92228 13.4143 8.29448 13.3299C7.6997 13.2499 6.95048 13.25 6.052 13.25H5.948ZM3.11612 15.1161C3.24644 14.9858 3.44393 14.8786 3.9054 14.8165C4.38843 14.7516 5.03599 14.75 6 14.75C6.96401 14.75 7.61157 14.7516 8.09461 14.8165C8.55607 14.8786 8.75357 14.9858 8.88389 15.1161C9.0142 15.2464 9.12143 15.4439 9.18347 15.9054C9.24841 16.3884 9.25 17.036 9.25 18C9.25 18.964 9.24841 19.6116 9.18347 20.0946C9.12143 20.5561 9.0142 20.7536 8.88389 20.8839C8.75357 21.0142 8.55607 21.1214 8.09461 21.1835C7.61157 21.2484 6.96401 21.25 6 21.25C5.03599 21.25 4.38843 21.2484 3.9054 21.1835C3.44393 21.1214 3.24644 21.0142 3.11612 20.8839C2.9858 20.7536 2.87858 20.5561 2.81654 20.0946C2.7516 19.6116 2.75 18.964 2.75 18C2.75 17.036 2.7516 16.3884 2.81654 15.9054C2.87858 15.4439 2.9858 15.2464 3.11612 15.1161Z" fill="#e2d003"></path> </g></svg>
			</div>
		</div>
	</div>
	<div class="minimized-modal-bar"></div>
</body>

<script type="module" src="../assets/js/version.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/main.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/admin/home.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/geral.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/admin.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/admin/internMenus.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/admin/acessos.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/socket/Config.js?v=<%=VERSION.TAG%>"></script>
<script src="/MGT/socket.io.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/socket/Package.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/socket/Socket.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/printSpaceConfig.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/serieOperation.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/crashdump.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/admin/DBK.js?v=<%=VERSION.TAG%>"></script>

</html>
