<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<title>LUMA | POS</title>
	<link rel="shortcut icon" href="../assets/img/luma.png?v=<%=VERSION.TAG%>" />
	<link rel="stylesheet" href="../assets/fw/materialize/css/materialize.min.css?v=<%=VERSION.TAG%>">
	<link rel="stylesheet" href="../assets/font/material-icons.css?v=<%=VERSION.TAG%>">
	<link rel="stylesheet" href="../assets/css/main.css?v=<%=VERSION.TAG%>">
	<link rel="stylesheet" href="../assets/css/pos/home.css?v=<%=VERSION.TAG%>">
	<link rel="stylesheet" href="../assets/css/pos/pos.css?v=<%=VERSION.TAG%>">
	<link rel="stylesheet" href="../assets/css/pos/posale.css?v=<%=VERSION.TAG%>">
	<script>
		var VERSION = {
			TAG: `<%=VERSION.TAG%>`,
			NUMBER: `<%=VERSION.NUMBER %>`,
			VERSION_NAME: `<%=VERSION.VERSION_CODE%>`,
			REV: `<%=VERSION.revs %>`,
		}
	</script>
	<script src="../assets/js/jquery.js?v=<%=VERSION.TAG%>"></script>
	<script src="../assets/js/remote-access.js?v=<%=VERSION.TAG%>"></script>
	<script src="../assets/js/admin/postIdentifier.js?v=<%=VERSION.TAG%>"></script>
</head>

<body>
<div class="masterPage">
	<header class=" mainHeader flex h-sb v-ct">
		<div class="xLoadingBar">
			<div class="progress-bar"></div>
		</div>
		<div class="inLeft flex v-ct">
			<div class="logoname flex v-ct">
				<img  alt="">
				<b><a href="/<%=REMOTE.VERSION%>">LUMA <%= VERSION.VERSION_CODE %></a></b>
			</div>
			<div class="systatus flex v-ct">
				<!-- utilize as classes
                    on: para sistema online
                    off: para sistema offline
                -->
				<span class="pulse on shining"></span>
			</div>
			<h1 posto></h1>
			<!-- utilize as classes
                activated: posto ativado
                unregistered: posto nao registado
                deactivated: posto desativado
            -->
			<div class="postatus"></div>
		</div>
		<div class="inRight flex v-ct">
			<div class="flex v-ct ctrlLightdarkMode">
				<svg enable-background="new 0 0 497 497" viewBox="0 0 497 497">
					<g>
						<g fill="#ffd900">
							<path
									d="m231.933 49.7c0 9.149 7.417 16.567 16.567 16.567 9.149 0 16.567-7.417 16.567-16.567v-33.133c0-9.15-7.418-16.567-16.567-16.567-9.15 0-16.567 7.417-16.567 16.567z" />
							<path
									d="m231.933 480.433c0 9.15 7.417 16.567 16.567 16.567 9.149 0 16.567-7.417 16.567-16.567v-33.133c0-9.149-7.417-16.567-16.567-16.567s-16.567 7.417-16.567 16.567z" />
							<path
									d="m447.3 231.933c-9.149 0-16.567 7.417-16.567 16.567s7.417 16.567 16.567 16.567h33.133c9.15 0 16.567-7.417 16.567-16.567s-7.417-16.567-16.567-16.567z" />
							<path
									d="m16.567 231.933c-9.15 0-16.567 7.417-16.567 16.567s7.417 16.567 16.567 16.567h33.133c9.149 0 16.567-7.417 16.567-16.567s-7.417-16.567-16.567-16.567z" />
							<circle cx="248.5" cy="248.5" r="149.1" />
							<path
									d="m377.358 96.213c-6.47 6.47-6.47 16.959 0 23.429s16.959 6.47 23.429 0l23.429-23.429c6.47-6.47 6.47-16.959 0-23.429s-16.959-6.47-23.429 0z" />
							<path
									d="m72.784 400.787c-6.47 6.47-6.47 16.959 0 23.429s16.959 6.47 23.429 0l23.429-23.429c6.47-6.47 6.47-16.959 0-23.429s-16.959-6.47-23.429 0z" />
							<path
									d="m400.787 377.358c-6.47-6.47-16.959-6.47-23.429 0s-6.47 16.959 0 23.429l23.429 23.429c6.47 6.47 16.959 6.47 23.429 0s6.47-16.959 0-23.429z" />
							<path
									d="m96.213 72.784c-6.47-6.47-16.959-6.47-23.429 0s-6.47 16.959 0 23.429l23.429 23.429c6.47 6.47 16.959 6.47 23.429 0s6.47-16.959 0-23.429z" />
						</g>
						<g>
							<path
									d="m172.427 72.343c-2.943 0-5.736-1.743-6.932-4.632l-6.34-15.306c-1.585-3.827.232-8.214 4.059-9.799 3.827-1.583 8.214.231 9.799 4.059l6.34 15.306c1.585 3.827-.232 8.214-4.059 9.799-.938.388-1.91.573-2.867.573z"
									fill="#ffa400" />
						</g>
						<g>
							<path
									d="m330.922 454.983c-2.943 0-5.735-1.743-6.932-4.632l-6.34-15.306c-1.586-3.827.231-8.214 4.059-9.799 3.827-1.586 8.214.231 9.799 4.059l6.34 15.306c1.586 3.827-.231 8.214-4.059 9.799-.938.389-1.911.573-2.867.573z"
									fill="#ffa400" />
						</g>
						<g>
							<path
									d="m64.843 179.944c-.957 0-1.929-.184-2.867-.573l-15.306-6.34c-3.827-1.585-5.644-5.972-4.059-9.799s5.974-5.647 9.799-4.059l15.306 6.34c3.827 1.585 5.644 5.972 4.059 9.799-1.196 2.888-3.989 4.632-6.932 4.632z"
									fill="#ffa400" />
						</g>
						<g>
							<path
									d="m447.483 338.44c-.957 0-1.929-.184-2.867-.573l-15.306-6.34c-3.827-1.585-5.645-5.972-4.058-9.799 1.586-3.826 5.975-5.646 9.799-4.059l15.306 6.34c3.827 1.585 5.645 5.972 4.059 9.799-1.197 2.887-3.989 4.632-6.933 4.632z"
									fill="#ffa400" />
						</g>
						<g>
							<path
									d="m49.56 338.44c-2.943 0-5.736-1.743-6.932-4.632-1.585-3.827.233-8.214 4.059-9.799l15.306-6.34c3.826-1.584 8.214.231 9.799 4.059 1.585 3.827-.232 8.214-4.059 9.799l-15.306 6.34c-.938.388-1.91.573-2.867.573z"
									fill="#ffa400" />
						</g>
						<g>
							<path
									d="m432.2 179.944c-2.943 0-5.735-1.743-6.932-4.632-1.586-3.827.231-8.214 4.059-9.799l15.306-6.34c3.826-1.585 8.214.232 9.799 4.059 1.586 3.827-.231 8.214-4.059 9.799l-15.306 6.34c-.938.389-1.911.573-2.867.573z"
									fill="#ffa400" />
						</g>
						<g>
							<path
									d="m166.121 454.983c-.956 0-1.929-.184-2.867-.573-3.827-1.585-5.644-5.972-4.059-9.799l6.34-15.306c1.584-3.826 5.973-5.647 9.799-4.059 3.827 1.585 5.644 5.972 4.059 9.799l-6.34 15.306c-1.196 2.888-3.989 4.632-6.932 4.632z"
									fill="#ffa400" />
						</g>
						<g>
							<path
									d="m324.616 72.343c-.957 0-1.929-.184-2.867-.573-3.827-1.585-5.645-5.972-4.059-9.799l6.34-15.306c1.586-3.826 5.976-5.646 9.799-4.059 3.827 1.585 5.645 5.972 4.059 9.799l-6.34 15.306c-1.196 2.888-3.988 4.632-6.932 4.632z"
									fill="#ffa400" />
						</g>
						<path
								d="m248.5 99.4c-3.87 0-7.705.148-11.5.437 76.972 5.871 137.6 70.187 137.6 148.663s-60.628 142.792-137.6 148.663c3.795.289 7.63.438 11.5.438 82.346 0 149.1-66.754 149.1-149.1s-66.754-149.101-149.1-149.101z"
								fill="#fb0" />
						<path
								d="m49.7 231.933h-23c9.149 0 16.567 7.417 16.567 16.567 0 9.149-7.417 16.567-16.567 16.567h23c9.149 0 16.567-7.417 16.567-16.567 0-9.149-7.418-16.567-16.567-16.567z"
								fill="#fb0" />
						<path
								d="m480.433 231.933h-23c9.15 0 16.567 7.417 16.567 16.567 0 9.149-7.417 16.567-16.567 16.567h23c9.15 0 16.567-7.417 16.567-16.567 0-9.149-7.417-16.567-16.567-16.567z"
								fill="#fb0" />
						<path
								d="m248.5 0c-4.471 0-8.52 1.779-11.5 4.657 3.119 3.013 5.067 7.231 5.067 11.91v33.133c0 4.679-1.948 8.897-5.067 11.909 2.98 2.878 7.029 4.657 11.5 4.657 9.149 0 16.567-7.417 16.567-16.567v-33.132c0-9.15-7.418-16.567-16.567-16.567z"
								fill="#fb0" />
						<path
								d="m248.5 430.733c-4.471 0-8.52 1.779-11.5 4.657 3.119 3.013 5.067 7.23 5.067 11.909v33.133c0 4.679-1.948 8.897-5.067 11.909 2.98 2.878 7.029 4.657 11.5 4.657 9.149 0 16.567-7.417 16.567-16.567v-33.131c0-9.15-7.418-16.567-16.567-16.567z"
								fill="#fb0" />
						<path
								d="m424.216 72.784c-6.401-6.401-16.73-6.458-23.214-.194.07.068.145.125.214.194 6.47 6.47 6.47 16.959 0 23.429l-23.429 23.429c-.069.069-.145.126-.214.194 6.485 6.264 16.814 6.207 23.214-.194l23.429-23.429c6.47-6.47 6.47-16.959 0-23.429z"
								fill="#fb0" />
						<path
								d="m424.216 400.787-23.429-23.429c-6.401-6.401-16.73-6.458-23.214-.194.07.067.145.125.214.194l23.429 23.429c6.47 6.47 6.47 16.959 0 23.429-.069.069-.145.126-.214.194 6.484 6.265 16.813 6.207 23.214-.194 6.47-6.47 6.47-16.959 0-23.429z"
								fill="#fb0" />
						<path
								d="m119.642 96.213-23.429-23.429c-6.393-6.393-16.703-6.457-23.189-.216.078.075.163.139.239.216l23.429 23.429c6.47 6.47 6.47 16.959 0 23.429-.077.077-.161.141-.239.216 6.486 6.241 16.797 6.176 23.189-.216 6.469-6.47 6.469-16.96 0-23.429z"
								fill="#fb0" />
						<path
								d="m119.642 377.358c-6.393-6.393-16.703-6.457-23.189-.216.078.075.162.139.239.216 6.47 6.47 6.47 16.959 0 23.429l-23.429 23.429c-.077.077-.161.141-.239.216 6.486 6.241 16.797 6.176 23.189-.216l23.429-23.429c6.469-6.47 6.469-16.959 0-23.429z"
								fill="#fb0" />
					</g>
				</svg>
				<div class="switch">
					<label>
						<input id="iptCheckMode" type="checkbox">
						<span class="lever"></span>
					</label>
				</div>
				<svg class="dark" x="0px" y="0px" viewBox="0 0 380.84 380.84"
					 style="enable-background:new 0 0 380.84 380.84;" xml:space="preserve">
						<g>
							<g>
								<path d="M334.237,336.517c-0.935-1.39-2.437-2.297-4.103-2.477h-0.76c-98.837,0.105-179.045-79.933-179.15-178.77
								c-0.061-57.292,27.312-111.15,73.63-144.87c2.607-1.745,3.306-5.273,1.561-7.88c-1.062-1.587-2.851-2.534-4.761-2.52l0.04,0.04
								C115.539,0.029,30.285,85.265,30.274,190.42c-0.011,105.155,85.225,190.409,190.38,190.42c40.26,0.004,79.485-12.753,112.04-36.44
								C335.297,342.649,335.988,339.12,334.237,336.517z" />
							</g>
						</g>
					<g>
							<g>
								<path d="M273.123,223.354c-0.679-0.577-1.483-0.985-2.349-1.194l-0.04-0.08l-15.36-3.68l-8.24-13.36
								c-1.624-2.684-5.116-3.544-7.8-1.92c-0.786,0.475-1.445,1.134-1.92,1.92l-8.32,13.36l-15.12,3.68
								c-3.081,0.59-5.1,3.566-4.51,6.647c0.186,0.973,0.624,1.881,1.27,2.633l10.24,12l-1.2,15.76c-0.279,3.125,2.027,5.884,5.152,6.163
								c0.975,0.087,1.956-0.079,2.848-0.483l14.64-6l14.32,5.88c2.86,1.288,6.223,0.014,7.512-2.846
								c0.383-0.851,0.551-1.783,0.488-2.714l-1.2-15.76l10.24-12C275.805,228.969,275.514,225.385,273.123,223.354z" />
							</g>
						</g>
					<g>
							<g>
								<path d="M297.803,78.394c-0.679-0.577-1.483-0.985-2.349-1.194l0.08,0.2l-26.24-6.4l-14.16-22.92
								c-1.624-2.684-5.116-3.544-7.8-1.92c-0.786,0.475-1.445,1.134-1.92,1.92l-14.2,23l-26,6.36c-3.064,0.674-5.001,3.704-4.327,6.768
								c0.175,0.794,0.518,1.542,1.007,2.192l17.48,20.6l-2.04,26.96c-0.279,3.125,2.027,5.884,5.152,6.163
								c0.975,0.087,1.956-0.079,2.848-0.483l25-10.24l24.68,10.12c2.86,1.288,6.223,0.014,7.512-2.846
								c0.383-0.851,0.551-1.783,0.488-2.714l-2.04-26.96l17.48-20.6C300.485,84.009,300.194,80.425,297.803,78.394z" />
							</g>
						</g>
					<g>
							<g>
								<path d="M348.563,170.354c-0.679-0.577-1.483-0.985-2.349-1.194l-0.16-0.08l-12-2.88l-6.36-10.32
								c-1.624-2.684-5.116-3.544-7.8-1.92c-0.786,0.475-1.445,1.134-1.92,1.92l-6.28,10.52l-11.6,2.84
								c-3.075,0.619-5.067,3.613-4.448,6.689c0.182,0.907,0.583,1.755,1.168,2.471l8,9.32l-0.92,12
								c-0.279,3.125,2.027,5.884,5.152,6.163c0.975,0.087,1.956-0.079,2.848-0.483l11.28-4.64l10.96,4.48
								c2.86,1.288,6.223,0.014,7.512-2.846c0.383-0.851,0.551-1.783,0.488-2.714l-0.92-12l8-9.32
								C351.245,175.969,350.954,172.385,348.563,170.354z" />
							</g>
						</g>
					</svg>
			</div>

			<div class="rt-menus">
				<div class="waves-effect xdropdown flex v-ct h-ct j-stp">
					<i class="material-icons">more_vert</i>
				</div>
				<div class="o-opts">
					<ul id="pos_menus">
						<li class="waves-effect" report>Relatórios</li>
						<li class="sep"></li>
						<li class="waves-effect" sales>Vendas</li>
						<li class="sep"></li>
						<li class="waves-effect" closeBox>Fecho de caixa</li>
						<li class="sep"></li>
						<li class="waves-effect" retalharArtigo>Retalho de artigo</li>
						<li class="sep"></li>
						<li class="waves-effect" changePIN>Alterar PIN</li>
						<li class="sep"></li>
						<li class="waves-effect" admin>Ir para admin</li>
					</ul>
				</div>
			</div>
			<button class="waves-effect btn btn-large" newAccount>nova conta</button>
		</div>
	</header>
	<div class="dBody">
		<div class="masterAccounts">
			<div class="listAllAccounts">
				<!--<div class="accnt waves-effect">
                    <p class="number">30</p>
                    <div class="smallit">
                        <p class="artigos">14 artigos</p>
                        <p class="who">Criado por <span>Name here</span></p>
                    </div>
                    <p class="price">125,00</p>
                </div>-->

			</div>
		</div>
		<div id="fkPGSalesOfDay" class="salesOfDay _fkPG">
			<div class="head flex v-ct h-sb">
				<div class="inL flex v-ct">
						<span class="waves-effect goBack flex v-ct h-ct hideTarget" target="fkPGSalesOfDay">
							<svg x="0px" y="0px" viewBox="0 0 240.823 240.823"
								 style="enable-background:new 0 0 240.823 240.823;" xml:space="preserve">
								<path
										d="M57.633,129.007L165.93,237.268c4.752,4.74,12.451,4.74,17.215,0c4.752-4.74,4.752-12.439,0-17.179 l-99.707-99.671l99.695-99.671c4.752-4.74,4.752-12.439,0-17.191c-4.752-4.74-12.463-4.74-17.215,0L57.621,111.816 C52.942,116.507,52.942,124.327,57.633,129.007z" />
							</svg>
						</span>
					<h1>Vendas</h1>
				</div>
				<div title="Exportar relatório de vendas" class="showTarget" target="xModalReportVenda">
					<svg relatorio-vendas style="width: 30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M18 10C18 10.5523 17.5523 11 17 11C16.4477 11 16 10.5523 16 10C16 9.44772 16.4477 9 17 9C17.5523 9 18 9.44772 18 10Z" fill="#1C274C"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9451 1.25H12.0549C13.4225 1.24998 14.5248 1.24996 15.3918 1.36652C16.2919 1.48754 17.0497 1.74643 17.6517 2.34835C18.3916 3.08833 18.6205 4.07517 18.7012 5.29943C18.9462 5.31578 19.1763 5.33755 19.3918 5.36652C20.2919 5.48754 21.0497 5.74643 21.6517 6.34835C22.2536 6.95027 22.5125 7.70814 22.6335 8.60825C22.75 9.47522 22.75 10.5775 22.75 11.9451V12.0549C22.75 13.4225 22.75 14.5248 22.6335 15.3918C22.5125 16.2919 22.2536 17.0497 21.6517 17.6517C20.9117 18.3916 19.9248 18.6205 18.7006 18.7012C18.6842 18.9462 18.6625 19.1763 18.6335 19.3918C18.5125 20.2919 18.2536 21.0497 17.6517 21.6517C17.0497 22.2536 16.2919 22.5125 15.3918 22.6335C14.5248 22.75 13.4225 22.75 12.0549 22.75H11.9451C10.5775 22.75 9.47522 22.75 8.60825 22.6335C7.70814 22.5125 6.95027 22.2536 6.34835 21.6517C5.74643 21.0497 5.48754 20.2919 5.36652 19.3918C5.33755 19.1763 5.31578 18.9462 5.29942 18.7012C4.07517 18.6205 3.08833 18.3916 2.34835 17.6517C1.74643 17.0497 1.48754 16.2919 1.36652 15.3918C1.24996 14.5248 1.24998 13.4225 1.25 12.0549V11.9451C1.24998 10.5775 1.24996 9.47522 1.36652 8.60825C1.48754 7.70814 1.74643 6.95027 2.34835 6.34835C2.95027 5.74643 3.70814 5.48754 4.60825 5.36652C4.82374 5.33755 5.05377 5.31578 5.29879 5.29943C5.37952 4.07517 5.60837 3.08833 6.34835 2.34835C6.95027 1.74643 7.70814 1.48754 8.60825 1.36652C9.47522 1.24996 10.5775 1.24998 11.9451 1.25ZM6.80714 5.25295C7.16406 5.24999 7.54313 5.24999 7.94512 5.25H16.0549C16.4569 5.24999 16.8359 5.24999 17.1929 5.25295C17.1109 4.23209 16.9265 3.74452 16.591 3.40901C16.3142 3.13225 15.9257 2.9518 15.1919 2.85315C14.4365 2.75159 13.4354 2.75 12 2.75C10.5646 2.75 9.56347 2.75159 8.80812 2.85315C8.07434 2.9518 7.68577 3.13225 7.40901 3.40901C7.0735 3.74452 6.88909 4.23209 6.80714 5.25295ZM5.25294 17.1929C5.24999 16.8359 5.24999 16.4569 5.25 16.0549L5.25 14.75H5C4.58579 14.75 4.25 14.4142 4.25 14C4.25 13.5858 4.58579 13.25 5 13.25H19C19.4142 13.25 19.75 13.5858 19.75 14C19.75 14.4142 19.4142 14.75 19 14.75H18.75V16.0549C18.75 16.4569 18.75 16.8359 18.7471 17.1929C19.7679 17.1109 20.2555 16.9265 20.591 16.591C20.8678 16.3142 21.0482 15.9257 21.1469 15.1919C21.2484 14.4365 21.25 13.4354 21.25 12C21.25 10.5646 21.2484 9.56347 21.1469 8.80812C21.0482 8.07435 20.8678 7.68577 20.591 7.40901C20.3142 7.13225 19.9257 6.9518 19.1919 6.85315C18.4365 6.75159 17.4354 6.75 16 6.75H8C6.56458 6.75 5.56347 6.75159 4.80812 6.85315C4.07435 6.9518 3.68577 7.13225 3.40901 7.40901C3.13225 7.68577 2.9518 8.07435 2.85315 8.80812C2.75159 9.56347 2.75 10.5646 2.75 12C2.75 13.4354 2.75159 14.4365 2.85315 15.1919C2.9518 15.9257 3.13225 16.3142 3.40901 16.591C3.74452 16.9265 4.23209 17.1109 5.25294 17.1929ZM17.25 14.75H6.75V16C6.75 17.4354 6.75159 18.4365 6.85315 19.1919C6.9518 19.9257 7.13225 20.3142 7.40901 20.591C7.68577 20.8678 8.07435 21.0482 8.80812 21.1469C9.56347 21.2484 10.5646 21.25 12 21.25C13.4354 21.25 14.4365 21.2484 15.1919 21.1469C15.9257 21.0482 16.3142 20.8678 16.591 20.591C16.8678 20.3142 17.0482 19.9257 17.1469 19.1919C17.2484 18.4365 17.25 17.4354 17.25 16V14.75ZM5.25 10C5.25 9.58579 5.58579 9.25 6 9.25H9C9.41421 9.25 9.75 9.58579 9.75 10C9.75 10.4142 9.41421 10.75 9 10.75H6C5.58579 10.75 5.25 10.4142 5.25 10ZM8.25 16.8049C8.25 16.3907 8.58579 16.0549 9 16.0549H15C15.4142 16.0549 15.75 16.3907 15.75 16.8049C15.75 17.2191 15.4142 17.5549 15 17.5549H9C8.58579 17.5549 8.25 17.2191 8.25 16.8049ZM8.25 19.3049C8.25 18.8907 8.58579 18.5549 9 18.5549H13C13.4142 18.5549 13.75 18.8907 13.75 19.3049C13.75 19.7191 13.4142 20.0549 13 20.0549H9C8.58579 20.0549 8.25 19.7191 8.25 19.3049Z" fill="#1C274C"></path> </g></svg>
				</div>
				<div class="period flex v-ct">
					<div class="rt-menus">
						<div class="waves-effect xdropdown ppriodd flex v-ct h-ct j-stp">
							<span id="filtro_data_vendas_atual">Hoje</span>
							<svg x="0px" y="0px" viewBox="0 0 240.823 240.823"
								 style="enable-background:new 0 0 240.823 240.823;" xml:space="preserve">
									<path
											d="M57.633,129.007L165.93,237.268c4.752,4.74,12.451,4.74,17.215,0c4.752-4.74,4.752-12.439,0-17.179 l-99.707-99.671l99.695-99.671c4.752-4.74,4.752-12.439,0-17.191c-4.752-4.74-12.463-4.74-17.215,0L57.621,111.816 C52.942,116.507,52.942,124.327,57.633,129.007z" />
								</svg>
						</div>
						<div class="o-opts">
							<ul id="filtro_data_vendas">
								<li class="waves-effect active" date="0">Hoje</li>
								<li class="waves-effect" date="1">Ontem</li>
								<li class="waves-effect" date="2">À dois dias</li>
								<!--<li class="waves-effect" date="3">À três dias</li>
                                <li class="waves-effect" date="4">À quatro dias</li>
                                <li class="waves-effect" date="5">À cinco dias</li>
                                <li class="waves-effect" date="6">À seis dias</li>
                                <li class="waves-effect" date="7">À uma semana</li>-->
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="inBottom">
				<div class="x-table grow-1">
					<div class="xheader">
						<ul class="flex">
							<li grow="2">Nª fatura/recibo</li>
							<li grow="1">Colaborador(a)</li>
							<li grow="2">Cliente</li>
							<li grow="1">Montante</li>
							<li grow="1">Valor pago</li>
							<li grow="1">Troco</li>
							<li grow="1">Data de registo</li>
							<li grow="1">Opções</li>
						</ul>
					</div>
					<div class="xbody" id="vendasPosto">
						<!--<ul class="flex">
                            <li>Coll</li>
                            <li>Coll</li>
                            <li>Coll</li>
                            <li>Coll</li>
                            <li>Coll</li>
                            <li>Coll</li>
                            <li>Coll</li>
                            <li>Coll</li>
                            <li>Coll</li>
                            <li class="flex v-ct j-stp" title="Reimprimir">
                                <span class="flex v-ct">
                                    <i class="material-icons">print</i>
                                    <span>Reimprimir</span>
                                </span>
                            </li>
                        </ul>-->
					</div>
				</div>
			</div>
		</div>
		<div id="fkPGReport" class="salesOfDay _fkPG">
			<iframe id="ifReport" style="border: none; padding: 0" width="100%" height="100%" src="../includes/iReport?v=<%=VERSION.TAG%>"></iframe>
		</div>
	</div>

	<div class="make-a-sale flex" id="fkpg--make-a-sale">
		<article class="flex column grow-1">
			<header class="flex v-ct">
				<div class="xLoadingBar">
					<div class="progress-bar"></div>
				</div>
				<div class="h-fk-aside flex v-ct">
					<!-- <div class="back-to-table flex v-ct waves-effect" id="back-to-table">
                        <i class="material-icons">keyboard_arrow_left</i>
                        <span>contas</span>
                    </div> -->
					<div class="m-m waves-effect flex v-ct">
						<i class="material-icons menu-1200">menu</i>
						<b id="user_pos"></b>
					</div>
				</div>
				<div class="h-fk-article grow-1 flex v-ct">
					<div class="searcher j-stp flex v-ct grow-1">
						<i class="material-icons">arrow_back</i>
						<input type="text" placeholder="Pesquise aqui..." id="pesquisarArtigoPos">
						<label class="material-icons">search</label>
						<label class="material-icons search-keyb">keyboard</label>
						<div class="keyboard">
							<ul class="flex h-ct numbers">
								<li class="waves-effect">1</li>
								<li class="waves-effect">2</li>
								<li class="waves-effect">3</li>
								<li class="waves-effect">4</li>
								<li class="waves-effect">5</li>
								<li class="waves-effect">6</li>
								<li class="waves-effect">7</li>
								<li class="waves-effect">8</li>
								<li class="waves-effect">9</li>
								<li class="waves-effect">0</li>
							</ul>
							<ul class="flex h-ct">
								<li class="waves-effect">Q</li>
								<li class="waves-effect">W</li>
								<li class="waves-effect">E</li>
								<li class="waves-effect">R</li>
								<li class="waves-effect">T</li>
								<li class="waves-effect">Y</li>
								<li class="waves-effect">U</li>
								<li class="waves-effect">I</li>
								<li class="waves-effect">O</li>
								<li class="waves-effect">P</li>
							</ul>
							<ul class="flex h-ct">
								<li class="waves-effect">A</li>
								<li class="waves-effect">S</li>
								<li class="waves-effect">D</li>
								<li class="waves-effect">F</li>
								<li class="waves-effect">G</li>
								<li class="waves-effect">H</li>
								<li class="waves-effect">J</li>
								<li class="waves-effect">K</li>
								<li class="waves-effect">L</li>
								<li class="waves-effect">Ç</li>
							</ul>
							<ul class="flex h-ct">
								<li class="waves-effect">Z</li>
								<li class="waves-effect">X</li>
								<li class="waves-effect">C</li>
								<li class="waves-effect">V</li>
								<li class="waves-effect">B</li>
								<li class="waves-effect">N</li>
								<li class="waves-effect">M</li>
								<li class="waves-effect">LIMPAR</li>
								<li class="waves-effect search-btn">PESQUISAR</li>
							</ul>

						</div>
					</div>
					<label class="material-icons exit-app waves-effect userLogOut">exit_to_app</label>
				</div>
				<div class="changeBox flex v-ct" changeSpacePOS>
					<svg class="showTarget" target="xModalChooseArmazene"
						 enable-background="new 0 0 511.414 511.414" viewBox="0 0 511.414 511.414">
						<path
								d="m497.695 108.838c0-6.488-3.919-12.334-9.92-14.8l-225.988-92.838c-3.896-1.6-8.264-1.6-12.16 0l-225.988 92.838c-6.001 2.465-9.92 8.312-9.92 14.8v293.738c0 6.488 3.918 12.334 9.92 14.8l225.988 92.838c3.854 1.583 8.186 1.617 12.14-.001.193-.064-8.363 3.445 226.008-92.837 6.002-2.465 9.92-8.312 9.92-14.8zm-241.988 76.886-83.268-34.207 179.951-78.501 88.837 36.495zm-209.988-51.67 71.841 29.513v83.264c0 8.836 7.164 16 16 16s16-7.164 16-16v-70.118l90.147 37.033v257.797l-193.988-79.692zm209.988-100.757 55.466 22.786-179.951 78.501-61.035-25.074zm16 180.449 193.988-79.692v257.797l-193.988 79.692z" />
					</svg>
				</div>
			</header>
			<div class="fk-body grow-1 flex column">
				<div class="progress">
					<div class="indeterminate"></div>
				</div>
				<div class="ttop-back flex v-ct h-sb">
						<span class="flex v-ct" id="voltarCategorias">
							<i class="material-icons">arrow_back</i>
							<span>Voltar</span>
						</span>
					<div class="histBack flex v-ct" id="histBackCategories">
						<!--<span>History 1</span>
                        <i class="material-icons">chevron_right</i>
                        <span>History 1</span>
                        <i class="material-icons">chevron_right</i>-->
					</div>
				</div>
				<!-- ************** CHANGED ******************-->

				<div class="grow-1 list-articles sortable" categoriasArtigos>
					<!-- OBS: Use a classe "off" na section para artigos que atingiram stock mínimo -->
					<!--<section class="waves-effect have-extra isArtigo off">
                        <div class="img-container empty-artigo">
                            <span class="top is-money-text" coin="STN">452</span>
                            <span class="instock">24</span>
                        </div>
                        <h4>Product name 1 here!</h4>
                    </section>-->
				</div>

				<!-- ************** END CHANGED ******************-->
				<div class="give-me-extras">
					<div class="my-extras-fr flex column j-stp">
						<div class="flex h-sb v-ct">
							<h4 artigoExtraNome></h4>
							<i class="material-icons i-close-it">close</i>
						</div>
						<h6>Itens extra/acompanhamentos</h6>
						<div class="scroll-body grow-1">
							<ul class="itensExtra" id="itensExtraArtigo">
								<!--<li class="flex v-ct h-sb stgl pointer active">
                                    <div class="flex v-ct">
                                        <i class="material-icons">done</i>
                                        <span>Extra 1</span>
                                    </div>
                                    <span class="is-money-text" coin="STN">24,00</span>
                                </li>-->
							</ul>
						</div>
						<a class="btn i-close-it" id="btAdicionarExtra">concluir</a>
					</div>
				</div>
			</div>
		</article>
		<aside class="flex column h-sb master-aside m-close-me-mob" id="asideCarrinho">
			<header class="flex h-sb v-ct">
				<div class="flex v-ct">
					<h6 class="table-num showTarget waves-effect" target="theIDOfSlctAccWoutLgn" id="numeroMesa"
						title="Clique para ver as contas abertas"></h6>
					<h6 class="flex v-ct"><i class="material-icons">remove</i><span
							id="total_articles_cart">0</span>
					</h6>
				</div>
				<div class="flex">
					<label class="material-icons exit-app waves-effect" id="getBackPos">exit_to_app</label>
					<i class="material-icons waves-effect close-me-mob">close</i>
				</div>
			</header>
			<div class="list-selecteds-articles grow-1 flex column">
				<ul id="artigos_carrinho" class="grow-1">
					<!--<li class="flex h-sb">
                        <div>
                            <b>Article name here!</b>
                            <p class="is-money-text stn">45,00</p>
                        </div>
                        <div class="counter flex v-ct h-ct">
                            <i class="material-icons waves-effect delete-me">delete</i>
                            <i class="material-icons waves-effect">remove</i>
                            <span contenteditable="true">1</span>
                            <i class="material-icons waves-effect">add</i>
                        </div>
                    </li>-->
				</ul>

			</div>
			<div class="sum" id="valoresTotaisPos">
				<ul>
					<li class="flex v-ct h-sb">
						<b>Subtotal</b>
						<b class="is-money-text" id="pos_valorSubtotal">0,00</b>
					</li>
					<!-- <li class="flex v-ct h-sb">
                        <b>IVA</b>
                        <b id="taxaIva">0,00</b>
                    </li> -->
					<li class="flex v-ct h-sb">
						<h6>Total</h6>
						<h6 class="is-money-text" id="pos_valorTotal">0,00</h6>
					</li>
					<!-- <li class="flex v-ct h-sb troco">
                        <h6>Taxa</h6>
                        <h6 id="taxaCambio">0</h6>
                    </li> -->
					<!-- <li class="flex v-ct h-sb troco">
                        <h6>Cambio</h6>
                        <h6  class="is-money-text" coin="STN" id="valorCambio">0,00</h6>
                    </li> -->
					<li class="flex v-ct h-sb troco">
						<h6>Troco</h6>
						<h6 class="is-money-text" coin="STN">0,00</h6>
					</li>
				</ul>
				<div class="btns-actions flex h-sb">
					<a class="flex h-ct waves-effect waves-light btn-large done" id="registarAtualizarConta"><i
							class="material-icons">done</i></a>
					<a class="flex h-ct waves-effect waves-light btn-large cancel" id="anularConta"><i
							class="material-icons">delete_sweep</i></a>
					<a class="flex h-ct waves-effect waves-light btn-large recibo fake-pay"
					   id="efetuar_pagamento"><i class="material-icons">attach_money</i></a>
					<a class="flex h-ct waves-effect waves-light btn-large grow-1 faturate"
					   id="pos_fatura">conta</a>

				</div>
			</div>
		</aside>
		<div id="theIDOfSlctAccWoutLgn" class="slctAccWoutLgn">
			<div class="head flex v-ct h-sb">
				<div class="inL flex v-ct">
						<span class="waves-effect goBack flex v-ct h-ct hideTarget" target="theIDOfSlctAccWoutLgn">
							<svg x="0px" y="0px" viewBox="0 0 240.823 240.823"
								 style="enable-background:new 0 0 240.823 240.823;" xml:space="preserve">
								<path
										d="M57.633,129.007L165.93,237.268c4.752,4.74,12.451,4.74,17.215,0c4.752-4.74,4.752-12.439,0-17.179 l-99.707-99.671l99.695-99.671c4.752-4.74,4.752-12.439,0-17.191c-4.752-4.74-12.463-4.74-17.215,0L57.621,111.816 C52.942,116.507,52.942,124.327,57.633,129.007z" />
							</svg>
						</span>
					<h1>Contas</h1>
				</div>

			</div>
			<div class="inBottom">
				<div class="listAllAccounts">
					<!--<div class="accnt waves-effect">
                        <p class="number">30</p>
                        <div class="smallit">
                            <p class="artigos">14 artigos</p>
                            <p class="who">Criado por <span>Name here</span></p>
                        </div>
                        <p class="price">125,00</p>
                    </div>-->
				</div>
			</div>
		</div>
	</div>


</div>
<div class="pdf-page" id="print"></div>

<!--
    Utilize a classe "changingPIN" quando for para alterar PIN
    Utilize em conjunto a classe "actualPINApproved" quando o PIN atual inserido for correto
-->
<div id="MST-PIN" class="credentialPIN flex">
	<aside>
		<div class="list-users">
			<ul>
				<li class="waves-effect flex v-ct tgl">
						<span class="locked">
							<i class="material-icons">lock</i>
						</span>
					<div class="img-container round">
					</div>
					<div>
						<b>Name comes here</b>
						<p>email@domain.host</p>
					</div>
				</li>
			</ul>
		</div>
	</aside>
	<article class="grow-1 flex v-ct h-ct">
		<p class="user-selected"></p>
		<div class="pin-terminal">
			<h6 class="txtChangingPIN">digite o seu PIN atual</h6>
			<div class="fkinputs">
				<div class="table flex h-sb v-ct">
					<label for="iptTable">CONTA</label>
					<input id="iptTable" class="grow-1" type="text">
				</div>
				<div class="table flex h-sb v-ct tb2 showTarget" target="xModalChooseArmazene"
					 id="armazem_selecionado_pos">
					<label for="iptArmazene">ARMAZÉM</label>
					<input readonly="true" id="iptArmazene" class="grow-1" type="text" value="ARMAZÉM">
				</div>
				<div class="pinput flex h-ct v-ct"></div>
			</div>
			<div class="pinkey">
				<ul class="flex wrap h-sb">
					<li class="waves-effect">7</li>
					<li class="waves-effect">8</li>
					<li class="waves-effect">9</li>
					<li class="waves-effect">4</li>
					<li class="waves-effect">5</li>
					<li class="waves-effect">6</li>
					<li class="waves-effect">1</li>
					<li class="waves-effect">2</li>
					<li class="waves-effect">3</li>
					<li class="waves-effect">0</li>
					<li class="waves-effect" op="clearAll" title="Remover tudo">
						<svg x="0px" y="0px" viewBox="0 0 252 252" style="enable-background:new 0 0 252 252;"
							 xml:space="preserve">
								<g>
									<path d="M126,0C56.523,0,0,56.523,0,126s56.523,126,126,126s126-56.523,126-126S195.477,0,126,0z M126,234
										c-59.551,0-108-48.449-108-108S66.449,18,126,18s108,48.449,108,108S185.551,234,126,234z" />
									<path d="M164.612,87.388c-3.515-3.515-9.213-3.515-12.728,0L126,113.272l-25.885-25.885c-3.515-3.515-9.213-3.515-12.728,0
										c-3.515,3.515-3.515,9.213,0,12.728L113.272,126l-25.885,25.885c-3.515,3.515-3.515,9.213,0,12.728
										c1.757,1.757,4.061,2.636,6.364,2.636s4.606-0.879,6.364-2.636L126,138.728l25.885,25.885c1.757,1.757,4.061,2.636,6.364,2.636
										s4.606-0.879,6.364-2.636c3.515-3.515,3.515-9.213,0-12.728L138.728,126l25.885-25.885
										C168.127,96.601,168.127,90.902,164.612,87.388z" />
								</g>
							</svg>
					</li>
					<li class="waves-effect x-close" op="clearLast" title="Remover último dígito">
						<svg enable-background="new 0 0 512 512" viewBox="0 0 512 512"
							 xmlns="http://www.w3.org/2000/svg">
							<g>
								<path
										d="m497 81h-360c-4.679 0-9.091 2.184-11.928 5.905l-122 160c-4.096 5.371-4.096 12.818 0 18.189l122 160c2.837 3.722 7.249 5.906 11.928 5.906h360c8.284 0 15-6.716 15-15v-320c0-8.284-6.716-15-15-15zm-15 320h-337.574l-110.563-145 110.562-145h337.575z" />
								<path
										d="m216.393 356.607c5.858 5.858 15.355 5.858 21.213 0l79.394-79.394 79.394 79.393c5.858 5.858 15.355 5.858 21.213 0s5.858-15.355 0-21.213l-79.394-79.393 79.393-79.393c5.858-5.858 5.858-15.355 0-21.213-5.858-5.858-15.355-5.858-21.213 0l-79.393 79.393-79.394-79.393c-5.858-5.858-15.355-5.858-21.213 0-5.858 5.858-5.858 15.355 0 21.213l79.394 79.393-79.393 79.393c-5.859 5.858-5.859 15.356-.001 21.214z" />
							</g>
						</svg>
					</li>
				</ul>
			</div>
		</div>
		<div class="tries">
			<p>Tentativas restantes: <span>3</span></p>
		</div>

		<div class="exit waves-effect flex v-ct hideTarget" target="MST-PIN">
			<svg viewBox="0 0 511 512">
				<path
						d="m361.5 392v40c0 44.113281-35.886719 80-80 80h-201c-44.113281 0-80-35.886719-80-80v-352c0-44.113281 35.886719-80 80-80h201c44.113281 0 80 35.886719 80 80v40c0 11.046875-8.953125 20-20 20s-20-8.953125-20-20v-40c0-22.054688-17.945312-40-40-40h-201c-22.054688 0-40 17.945312-40 40v352c0 22.054688 17.945312 40 40 40h201c22.054688 0 40-17.945312 40-40v-40c0-11.046875 8.953125-20 20-20s20 8.953125 20 20zm136.355469-170.355469-44.785157-44.785156c-7.8125-7.8125-20.476562-7.8125-28.285156 0-7.8125 7.808594-7.8125 20.472656 0 28.28125l31.855469 31.859375h-240.140625c-11.046875 0-20 8.953125-20 20s8.953125 20 20 20h240.140625l-31.855469 31.859375c-7.8125 7.808594-7.8125 20.472656 0 28.28125 3.90625 3.90625 9.023438 5.859375 14.140625 5.859375 5.121094 0 10.238281-1.953125 14.144531-5.859375l44.785157-44.785156c19.496093-19.496094 19.496093-51.214844 0-70.710938zm0 0" />
			</svg>
			<p class="">SAIR</p>
		</div>
		<div class="goForward waves-effect flex v-ct" >
			<svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-forward" viewBox="0 0 16 16"> <path d="M9.502 5.513a.144.144 0 0 0-.202.134V6.65a.5.5 0 0 1-.5.5H2.5v2.9h6.3a.5.5 0 0 1 .5.5v1.003c0 .108.11.176.202.134l3.984-2.933a.51.51 0 0 1 .042-.028.147.147 0 0 0 0-.252.51.51 0 0 1-.042-.028L9.502 5.513zM8.3 5.647a1.144 1.144 0 0 1 1.767-.96l3.994 2.94a1.147 1.147 0 0 1 0 1.946l-3.994 2.94a1.144 1.144 0 0 1-1.767-.96v-.503H2a.5.5 0 0 1-.5-.5v-3.9a.5.5 0 0 1 .5-.5h6.3v-.503z" id="mainIconPathAttribute"></path> </svg>
			<p class="">AVANÇAR</p>
		</div>
	</article>
</div>
<div class="xAlertContainer">
</div>



<!-- MODALS -->

<!-- CHOOSE ARMAZENE -->
<div id="xModalChooseArmazene" class="x-mobdal XM-ChooseArmazene flex v-ct h-ct">
	<div class="modal-frame">
		<h3>Armazém</h3>
		<div class="inn armz">
			<p>Escolha o armazém</p>
			<div class="flex h-ct v-ct" id="armazens_pos">
				<!--<div class="waves-effect account active tgl">
                            <div class="flex v-ct h-ct">
                                <svg enable-background="new 0 0 511.414 511.414" viewBox="0 0 511.414 511.414"><path d="m497.695 108.838c0-6.488-3.919-12.334-9.92-14.8l-225.988-92.838c-3.896-1.6-8.264-1.6-12.16 0l-225.988 92.838c-6.001 2.465-9.92 8.312-9.92 14.8v293.738c0 6.488 3.918 12.334 9.92 14.8l225.988 92.838c3.854 1.583 8.186 1.617 12.14-.001.193-.064-8.363 3.445 226.008-92.837 6.002-2.465 9.92-8.312 9.92-14.8zm-241.988 76.886-83.268-34.207 179.951-78.501 88.837 36.495zm-209.988-51.67 71.841 29.513v83.264c0 8.836 7.164 16 16 16s16-7.164 16-16v-70.118l90.147 37.033v257.797l-193.988-79.692zm209.988-100.757 55.466 22.786-179.951 78.501-61.035-25.074zm16 180.449 193.988-79.692v257.797l-193.988 79.692z"/></svg>
                            </div>
                            <p>Armazém X</p>
                        </div>-->
			</div>
		</div>
		<div class="master-btn-right flex">
			<span class="hideTarget" target="xModalChooseArmazene">cancelar</span>
			<span class="flex v-ct" armazem_venda>
					Concluir
					<svg class="spinner" viewBox="0 0 50 50">
						<circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
					</svg>
				</span>
		</div>
	</div>
</div>

<!-- ABRIR CAIXA -->
<div id="xModalOpenBox" class="x-mobdal XM-openBox flex v-ct h-ct" target="xModalOpenBox">
	<div class="modal-frame">
		<h3>Abrir Caixa</h3>
		<div class="inn">
			<div class="input-field is-money-field" coin="STN">
				<input type="text" class="double formatNumber" id=caixa_valor_transferido>
				<label for="caixa_valor_transferido">Fundo de maneio</label>
				<span coin="STN"></span>
			</div>
		</div>
		<div class="master-btn-right flex">
			<span class="hideTarget" target="xModalOpenBox">cancelar</span>
			<span class="flex v-ct" openBox>
					Concluir
					<svg class="spinner" viewBox="0 0 50 50">
						<circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
					</svg>
				</span>
		</div>
	</div>
</div>

<div id="xModalNewAccount" class="x-mobdal flex v-ct h-ct" target="xModalNewAccount">
	<div class="modal-frame">
		<h3>Conta</h3>

		<div class="inn">
			<div class="input-field">
				<input type="text" id="account_description">
				<label for="account_description">Conta</label>
			</div>
		</div>
		<div class="master-btn-right flex">
			<span class="hideTarget" target="xModalNewAccount">cancelar</span>
			<span class="flex v-ct" addAccountModal>
					Concluir
					<svg class="spinner" viewBox="0 0 50 50">
						<circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
					</svg>
				</span>
		</div>
	</div>
</div>

<!-- OBS COZINHA -->
<div id="xModalKuchenObservation" class="x-mobdal XM-kuchenObservation flex v-ct h-ct"
	 target="xModalKuchenObservation">
	<div class="modal-frame">
		<h3>Observação para cozinha</h3>

		<div class="inn">
			<div class="input-field">
				<textarea class="materialize-textarea" id="kitchen_obs"></textarea>
				<label for="kitchen_obs">Observação</label>
			</div>
		</div>
		<div class="master-btn-right flex">
			<span class="hideTarget" target="xModalKuchenObservation">cancelar</span>
			<span class="flex v-ct" btPrintKitchen>
					Concluir
					<svg class="spinner" viewBox="0 0 50 50">
						<circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
					</svg>
				</span>
		</div>
	</div>
</div>

<div id="xModalRetalharArtigo" class="x-mobdal flex v-ct h-ct" target="xModalRetalharArtigo">
	<div class="modal-frame j-stp">
		<h3>Retalhar artigo</h3>
		<div class="xform">
			<div id="artigo_nova_composicao">
			</div>
			<div class="input-field">
				<select id="retalho_artigo_composto">
					<option value="" disabled selected>Escolha uma opção</option>
				</select>
				<label for="retalho_artigo_composto">Artigo composto</label>
			</div>
			<div class="input-field">
				<select id="retalho_artigo_base">
					<option value="" disabled selected>Escolha uma opção</option>
				</select>
				<label for="retalho_artigo_base">Artigo base</label>
			</div>
			<div class="input-field">
				<input type="text" class="integer" id="retalho_quantidade">
				<label for="retalho_quantidade">Quantidade a retalhar</label>
			</div>
		</div>
		<div class="master-btn-right flex">
			<span class="hideTarget" target="xModalRetalharArtigo">cancelar</span>
			<span class="flex v-ct" bt_retalhar>
					Concluir
					<svg class="spinner" viewBox="0 0 50 50">
						<circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
					</svg>
				</span>
		</div>
	</div>
</div>

<!-- FECHAR CAIXA -->
<div id="xModalCloseBox" class="x-mobdal XM-closeBox flex v-ct h-ct" target="xModalCloseBox">
	<div class="modal-frame">
		<h3>Fecho de caixa</h3>

		<div class="inn">
			<h6></h6>
			<div class="flex v-ct h-sb">
				<h6>Fundo de maneio</h6>
				<h6 id="caixa_montanteinicial" class="is-money-text stn"></h6>
			</div>
			<div class="input-field">
				<input type="text" class="double formatNumber" id="valorTotalCaixaFaturado">
				<label for="valorTotalCaixaFaturado">Valor total faturado</label>
			</div>
			<div class="input-field">
				<input type="text" class="integer" id="totalChequesCaixaFaturado">
				<label for="totalChequesCaixaFaturado">Quantidade de cheques</label>
			</div>
			<div class="input-field">
				<textarea class="materialize-textarea" id="caixa_fechar_obs"></textarea>
				<label for="caixa_fechar_obs">Observação</label>
			</div>
		</div>
		<div class="master-btn-right flex">
			<span class="hideTarget" target="xModalCloseBox">cancelar</span>
			<span class="flex v-ct" fecharCaixa>
					Concluir
					<svg class="spinner" viewBox="0 0 50 50">
						<circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
					</svg>
				</span>
		</div>
	</div>
</div>

<!-- IMPRESSÃO DE CONTA POS -->
<div id="xModalPrintTypeAccount" class="x-mobdal XM-PrintTypeAccount flex v-ct h-ct"
	 target="xModalPrintTypeAccount">
	<div class="modal-frame">
		<h3>Conta</h3>
		<div class="inn">
			<p>Escolha o tipo de fatura.</p>
			<div class="flex h-ct v-ct" id="impressaoContas">
				<div class="waves-effect account active tgl tipoFaturaContas" tipo="conta">
					<div class="flex v-ct h-ct">
						<svg viewBox="-27 0 512 512">
							<path
									d="m215 492c0 11.046875-8.953125 20-20 20h-115c-44.113281 0-80-35.886719-80-80v-352c0-44.113281 35.886719-80 80-80h245.890625c44.109375 0 80 35.886719 80 80v212c0 11.046875-8.957031 20-20 20-11.046875 0-20-8.953125-20-20v-212c0-22.054688-17.945313-40-40-40h-245.890625c-22.054688 0-40 17.945312-40 40v352c0 22.054688 17.945312 40 40 40h115c11.046875 0 20 8.953125 20 20zm235.640625-166.261719c-8.980469-6.429687-21.472656-4.359375-27.902344 4.617188l-98.582031 137.703125c-2.691406 3.121094-6.066406 3.792968-7.871094 3.914062-1.867187.121094-5.476562-.113281-8.574218-3.0625l-63.820313-61.28125c-7.964844-7.648437-20.625-7.394531-28.277344.574219-7.652343 7.96875-7.394531 20.628906.574219 28.277344l63.882812 61.34375c9.570313 9.105469 22.339844 14.175781 35.480469 14.175781 1.128907 0 2.261719-.039062 3.394531-.113281 14.3125-.953125 27.675782-7.914063 36.664063-19.101563.230469-.285156.457031-.582031.671875-.882812l98.980469-138.261719c6.429687-8.980469 4.363281-21.472656-4.621094-27.902344zm-144.75-205.738281h-206c-11.046875 0-20 8.953125-20 20s8.953125 20 20 20h206c11.042969 0 20-8.953125 20-20s-8.957031-20-20-20zm20 100c0-11.046875-8.957031-20-20-20h-206c-11.046875 0-20 8.953125-20 20s8.953125 20 20 20h206c11.042969 0 20-8.953125 20-20zm-226 60c-11.046875 0-20 8.953125-20 20s8.953125 20 20 20h125.109375c11.046875 0 20-8.953125 20-20s-8.953125-20-20-20zm0 0" />
						</svg>
					</div>
					<p>fatura de conta</p>
				</div>
			</div>
			<div class="more-info-proforma">
				<div class="input-field">
					<input type="text" data-inputmask-alias="dd-mm-yyyy" data-val="true" type="text"
						   id="data_vencimento_proforma">
					<label for="data_vencimento_proforma">Data de vencimento</label>
				</div>
				<div class="input-field">
					<textarea class="materialize-textarea" id="proforma_termos"></textarea>
					<label for="proforma_termos">Termos e condições</label>
				</div>
				<!--<p>
                    <label>
                        <input type="checkbox" id="enviarProformaEmail" />
                        <span>Enviar por email</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input type="checkbox" id="criarDocumentoProforma" />
                        <span>Criar documento</span>
                    </label>
                </p>-->
			</div>
		</div>
		<div class="master-btn-right flex">
			<span class="hideTarget waves-effect" target="xModalPrintTypeAccount">cancelar</span>
			<span class="flex v-ct waves-effect">
					<span class="flex v-ct waves-effect" printAccount>
						IMPRIMIR
						<svg class="spinner" viewBox="0 0 50 50">
							<circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
						</svg>
					</span>
				</span>
		</div>
	</div>
</div>

<!-- EFETUAR PAGAMENTO -->
<div id="xModalMakePayment" class="x-mobdal XM-makePayment flex v-ct h-ct" target="xModalMakePayment">
	<div class="modal-frame">
		<h3>Efetuar Pagamento</h3>
		<div class="allInner">
			<div class="list-consum">
				<div>
					<ul class="flex wrap" id="artigosRacharConta">
						<!--<li class="stgl">
                                <b>7 - Article name here</b>
                                <p><span class="is-money-text" coin="STN">250,00</span></p>
                            </li>-->
					</ul>
				</div>
			</div>
			<div class="flex treesep">
				<div class="pay-modes">
					<h4>Tipo de Pagamento</h4>
					<ul id="tiposPagamento">
						<li class="flex v-ct waves-effect tgl" arg_tserie_id="FATURARECIBO" tipo_id="1" tipo_desc="cash">
							<img src="../assets/img/paymode/money.svg" alt="">
							<span>CASH</span>
						</li>
						<li class="flex v-ct waves-effect tgl" arg_tserie_id="FATURARECIBO" tipo_id="6" tipo_desc="pos" tipo_text="POS">
							<img src="../assets/img/paymode/pos.png" alt="">
							<span>POS</span>
						</li>
						<li class="flex v-ct waves-effect tgl" arg_tserie_id="FATURARECIBO" tipo_id="4" tipo_desc="cheque" tipo_text="cheque">
							<img src="../assets/img/paymode/cheque.svg" alt="">
							<span>CHEQUE</span>
						</li>
						<li class="flex v-ct waves-effect tgl" arg_tserie_id="FATURARECIBO" tipo_id="2" tipo_desc="deposito" tipo_text="depósito">
							<img src="../assets/img/paymode/download.svg" alt="">
							<span>DEPÓSITO</span>
						</li>
						<li class="flex v-ct waves-effect tgl" arg_tserie_id="FATURARECIBO" tipo_id="3" tipo_desc="transferencia" tipo_text="transferência">
							<img src="../assets/img/paymode/reload.svg" alt="">
							<span>Transferência</span>
						</li>
						<li class="flex v-ct waves-effect tgl" arg_tserie_id="FATURA" tipo_id="5" corrente>
							<img src="../assets/img/paymode/finance.svg" alt="">
							<span>Conta corrente</span>
						</li>
					</ul>
				</div>

				<!-- A classe "selectNewClient" é adicionada para selecionar um cliente ja existente
                    A classe "registerNewClient" é adicionada ao clicar no botão de novo registo na frame de listagem de cliente -->

				<div class="make-payment flex column isNotRegistered">
					<div class="flex h-sb v-ct">
						<h4>O Cliente</h4>
						<!-- <h5 class="btRegClient waves-effect">Registar</h5> -->
					</div>
					<div class="payment-inputs grow-1">
						<div class="input-field" dvSelectClient>
							<input readonly type="text" id="titular_compra" value="Cliente Final">
							<label for="titular_compra">Cliente</label>
						</div>
						<div class="input-field">
							<input type="text" id="nif_titular_compra" maxlength="9" class="integer">
							<label for="nif_titular_compra">NIF do Cliente</label>
						</div>
						<div class="input-field is-money-field" coin="STN" id="moeda_pagamento">
							<input type="text" id="montante_entregue" class="double formatNumber">
							<label for="montante_entregue">Montante entregue</label>
							<span id="changeCoin"></span>
						</div>
						<div class="input-field is-money-field" coin="STN">
							<input type="text" id="montante_desconto" class="double formatNumber">
							<label for="montante_desconto">Montante Desconto</label>
							<span></span>
						</div>
					</div>
				</div>
				<div class="calculate flex column h-sb">
					<div class="sum">
						<div class="flex h-sb v-ct">
							<h4>A Conta</h4>
							<h5 class="stgl break-account waves-effect">Rachar Conta</h5>
						</div>
						<ul>
							<li class="flex h-sb">
								<b>Subtotal</b>
								<span class="is-money-text" coin="STN" id="valorSubtotalPagamento"></span>
							</li>
							<li class="flex h-sb">
								<b>Total</b>
								<span class="is-money-text" coin="STN" id="valorTotalPagamento"></span>
							</li>
							<li class="flex h-sb">
								<b>Troco</b>
								<span class="is-money-text" coin="STN" id="valorTotalTroco"></span>
							</li>
						</ul>
					</div>

				</div>
			</div>
			<div class="finish flex h-fe">
				<a class="flex h-ct waves-effect waves-light btn-large hideTarget" target="xModalMakePayment"><i
						class="material-icons left">cancel</i> cancelar</a>
				<a class="flex h-ct waves-effect waves-light btn-large recibo truement-pay" id="posPay"><i
						class="material-icons left">print</i><span id="payAndPrint"> pagar & imprimir</span></a>
			</div>
			<div class="ctnRegisterClient">
				<h4>Registar Cliente</h4>
				<div class="xform inputs">
					<div class="input-field">
						<input type="text" id="cliente_codigo_contacorrente">
						<label for="cliente_codigo_contacorrente">Código do cliente</label>
					</div>
					<div class="input-field">
						<input type="text" id="cliente_nome_contacorrente">
						<label for="cliente_nome_contacorrente">Nome do cliente</label>
					</div>
					<div class="input-field">
						<input type="text" id="cliente_nif_contacorrente" maxlength="9" class="integer">
						<label for="cliente_nif_contacorrente">NIF</label>
					</div>
					<div class="input-field">
						<input type="text" id="cliente_telefone_contacorrente">
						<label for="cliente_telefone_contacorrente">Nº telefone</label>
					</div>
					<div class="input-field">
						<input _noObrigatory="true" class="_noObrigatory" type="text" id="cliente_email_contacorrente">
						<label for="cliente_email_contacorrente">Email</label>
					</div>
				</div>
				<div class="master-btn-right flex">
					<span class="cancelRegClient">voltar</span>
					<span class="flex v-ct" btCliente>
							registar
							<svg class="spinner" viewBox="0 0 50 50">
								<circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
							</svg>
						</span>
				</div>

			</div>
			<div class="ctnSelectClient">
				<div class="cltHead flex h-sb v-ct">
					<h5>Selecionar Cliente</h5>
					<b class="btRegClient">Adicionar</b>
				</div>
				<div class="searcher">
					<input type="text" placeholder="Procure aqui..." class="searchCustomers">
					<svg x="0px" y="0px" viewBox="0 0 118.783 118.783"
						 style="enable-background:new 0 0 118.783 118.783;" xml:space="preserve">
							<g>
								<path d="M115.97,101.597L88.661,74.286c4.64-7.387,7.333-16.118,7.333-25.488c0-26.509-21.49-47.996-47.998-47.996
							S0,22.289,0,48.798c0,26.51,21.487,47.995,47.996,47.995c10.197,0,19.642-3.188,27.414-8.605l26.984,26.986
							c1.875,1.873,4.333,2.806,6.788,2.806c2.458,0,4.913-0.933,6.791-2.806C119.72,111.423,119.72,105.347,115.97,101.597z
							 M47.996,81.243c-17.917,0-32.443-14.525-32.443-32.443s14.526-32.444,32.443-32.444c17.918,0,32.443,14.526,32.443,32.444
							S65.914,81.243,47.996,81.243z"></path>
							</g>
						</svg>
				</div>
				<div class="listCustomers">
					<ul>
						<!--<li class="flex h-sb v-ct tgl active">
                            <p>Client name</p>
                            <a tooltip="Editar" flow="top" class="showTarget" target="addEditExtraItem"
                                tTitle="Editar item extra">
                                <svg class="edit showTarget" viewBox="0 0 512 512">
                                    <path
                                        d="m368 511.957031h-309.332031c-32.363281 0-58.667969-26.304687-58.667969-58.667969v-309.332031c0-32.363281 26.304688-58.667969 58.667969-58.667969h181.332031c8.832031 0 16 7.167969 16 16 0 8.832032-7.167969 16-16 16h-181.332031c-14.699219 0-26.667969 11.96875-26.667969 26.667969v309.332031c0 14.699219 11.96875 26.667969 26.667969 26.667969h309.332031c14.699219 0 26.667969-11.96875 26.667969-26.667969v-181.332031c0-8.832031 7.167969-16 16-16s16 7.148438 16 16v181.332031c0 32.363282-26.304688 58.667969-58.667969 58.667969zm0 0" />
                                    <path
                                        d="m187.136719 340.820312c-4.203125 0-8.300781-1.664062-11.308594-4.691406-3.796875-3.777344-5.417969-9.21875-4.371094-14.445312l15.082031-75.433594c.617188-3.113281 2.152344-5.953125 4.371094-8.171875l220.953125-220.925781c22.867188-22.871094 60.074219-22.871094 82.964844 0 11.070313 11.070312 17.171875 25.792968 17.171875 41.472656s-6.101562 30.398438-17.195312 41.472656l-220.925782 220.949219c-2.21875 2.238281-5.078125 3.753906-8.171875 4.371094l-75.414062 15.082031c-1.046875.214844-2.113281.320312-3.15625.320312zm75.433593-31.082031h.214844zm-45.609374-52.457031-9.410157 47.144531 47.125-9.429687 217.515625-217.511719c5.035156-5.058594 7.808594-11.734375 7.808594-18.859375s-2.773438-13.804688-7.808594-18.859375c-10.367187-10.390625-27.285156-10.390625-37.714844 0zm0 0" />
                                    <path
                                        d="m453.332031 134.976562c-4.09375 0-8.191406-1.558593-11.304687-4.695312l-60.332032-60.351562c-6.25-6.25-6.25-16.382813 0-22.632813s16.382813-6.25 22.636719 0l60.328125 60.351563c6.25 6.25 6.25 16.382812 0 22.632812-3.136718 3.117188-7.230468 4.695312-11.328125 4.695312zm0 0" />
                                </svg>
                            </a>
                        </li>-->
					</ul>
				</div>
				<div class="master-btn-right flex">
					<span class="cancelSlctClient">VOLTAR</span>
					<span class="flex v-ct" selectedCustomer>
							CONCLUIR
							<svg class="spinner" viewBox="0 0 50 50">
								<circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
							</svg>
						</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="xModalAllRegisteredClients" class="x-mobdal XM-allRegisteredClients flex v-ct h-ct"
	 target="xModalAllRegisteredClients">
	<div class="modal-frame">
		<div class="cltHead flex h-sb v-ct">
			<h3>Clientes</h3>
		</div>
		<div class="ctnSelectClient singular">
			<div class="searcher">
				<input type="text" placeholder="Procure aqui..." class="searchCustomers">
				<svg x="0px" y="0px" viewBox="0 0 118.783 118.783"
					 style="enable-background:new 0 0 118.783 118.783;" xml:space="preserve">
						<g>
							<path d="M115.97,101.597L88.661,74.286c4.64-7.387,7.333-16.118,7.333-25.488c0-26.509-21.49-47.996-47.998-47.996
						S0,22.289,0,48.798c0,26.51,21.487,47.995,47.996,47.995c10.197,0,19.642-3.188,27.414-8.605l26.984,26.986
						c1.875,1.873,4.333,2.806,6.788,2.806c2.458,0,4.913-0.933,6.791-2.806C119.72,111.423,119.72,105.347,115.97,101.597z
						 M47.996,81.243c-17.917,0-32.443-14.525-32.443-32.443s14.526-32.444,32.443-32.444c17.918,0,32.443,14.526,32.443,32.444
						S65.914,81.243,47.996,81.243z"></path>
						</g>
					</svg>
			</div>
			<div class="listCustomers">
				<ul></ul>
			</div>
		</div>

		<div class="master-btn-right flex">
			<span class="hideTarget" target="xModalAllRegisteredClients">CANCELAR</span>
			<span class="flex v-ct" id="clienteSelecionadoProforma">
					Concluir
					<svg class="spinner" viewBox="0 0 50 50">
						<circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
					</svg>
				</span>
		</div>
	</div>
</div>
<!-- IMPRESSÃO DE CONTA POS -->
<div id="xModalPrintModel" class="x-mobdal XM-PrintModel flex v-ct h-ct" target="xModalPrintModel">
	<div class="modal-frame">
		<h3>Impressão</h3>
		<div class="inn">
			<p>Escolha o tipo de impressão.</p>
			<div class="flex h-ct v-ct">
				<div class="waves-effect account active tgl" type="talao">
					<div class="flex v-ct h-ct">
						<svg x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
							 xml:space="preserve">
								<g>
									<g>
										<path d="M442.702,0.03c-0.2-0.008-0.397-0.03-0.599-0.03H134.768c-25.992,0-47.139,21.146-47.139,47.139v374.524H38.352
											c-8.284,0-15,6.716-15,15v28.199c0,25.592,20.505,46.472,45.946,47.108c0.2,0.008,0.397,0.03,0.599,0.03h307.335
											c25.992,0,47.139-21.146,47.139-47.139V90.337h49.277c8.284,0,15-6.716,15-15V47.139C488.648,21.546,468.144,0.667,442.702,0.03z
											 M70.49,482.001c-9.45,0-17.139-7.688-17.139-17.139v-13.199h0.001h276.507v13.199c0,6.045,1.156,11.823,3.239,17.139H70.49z
											 M394.371,464.861c0,9.45-7.688,17.139-17.139,17.139h-0.235c-9.45,0-17.139-7.688-17.139-17.139v-28.199c0-8.284-6.716-15-15-15
											h-227.23V47.139c0-9.45,7.688-17.139,17.139-17.139H397.61c-2.083,5.316-3.239,11.093-3.239,17.139L394.371,464.861
											L394.371,464.861z M458.649,60.337h-0.001h-34.277V47.139c0-9.45,7.688-17.139,17.139-17.139c9.451,0,17.139,7.688,17.139,17.139
											V60.337z" />
									</g>
								</g>
							<g>
									<g>
										<path d="M344.859,97.908H159.724c-8.284,0-15,6.716-15,15s6.716,15,15,15h185.135c8.284,0,15-6.716,15-15
											S353.143,97.908,344.859,97.908z" />
									</g>
								</g>
							<g>
									<g>
										<path d="M344.859,173.301H159.724c-8.284,0-15,6.716-15,15s6.716,15,15,15h185.135c8.284,0,15-6.716,15-15
											S353.143,173.301,344.859,173.301z" />
									</g>
								</g>
							<g>
									<g>
										<path d="M344.859,248.695H159.724c-8.284,0-15,6.716-15,15s6.716,15,15,15h185.135c8.284,0,15-6.716,15-15
											S353.143,248.695,344.859,248.695z" />
									</g>
								</g>
							<g>
									<g>
										<path d="M344.859,324.088H159.724c-8.284,0-15,6.716-15,15s6.716,15,15,15h185.135c8.284,0,15-6.716,15-15
											S353.143,324.088,344.859,324.088z" />
									</g>
								</g>
							</svg>

					</div>
					<p>Talão</p>
				</div>
				<div class="waves-effect account tgl" type="pdf">
					<div class="flex v-ct h-ct">
						<svg x="0px" y="0px" viewBox="0 0 470.586 470.586"
							 style="enable-background:new 0 0 470.586 470.586;" xml:space="preserve">
								<g>
									<path d="M327.081,0H90.234C74.331,0,61.381,12.959,61.381,28.859v412.863c0,15.924,12.95,28.863,28.853,28.863H380.35
										c15.917,0,28.855-12.939,28.855-28.863V89.234L327.081,0z M333.891,43.184l35.996,39.121h-35.996V43.184z M384.972,441.723
										c0,2.542-2.081,4.629-4.635,4.629H90.234c-2.55,0-4.619-2.087-4.619-4.629V28.859c0-2.548,2.069-4.613,4.619-4.613h219.411v70.181
										c0,6.682,5.443,12.099,12.129,12.099h63.198V441.723z M128.364,128.89H334.15c5.013,0,9.079,4.066,9.079,9.079
										c0,5.013-4.066,9.079-9.079,9.079H128.364c-5.012,0-9.079-4.066-9.079-9.079C119.285,132.957,123.352,128.89,128.364,128.89z
										M343.229,198.98c0,5.012-4.066,9.079-9.079,9.079H128.364c-5.012,0-9.079-4.066-9.079-9.079s4.067-9.079,9.079-9.079H334.15
										C339.163,189.901,343.229,193.968,343.229,198.98z M343.229,257.993c0,5.013-4.066,9.079-9.079,9.079H128.364
										c-5.012,0-9.079-4.066-9.079-9.079s4.067-9.079,9.079-9.079H334.15C339.163,248.914,343.229,252.98,343.229,257.993z
										M343.229,318.011c0,5.013-4.066,9.079-9.079,9.079H128.364c-5.012,0-9.079-4.066-9.079-9.079s4.067-9.079,9.079-9.079H334.15
										C339.163,308.932,343.229,312.998,343.229,318.011z" />
								</g>
							</svg>
					</div>
					<p>A4 (pdf)</p>
				</div>
			</div>
		</div>
		<div class="master-btn-right flex">
			<span class="hideTarget waves-effect" target="xModalPrintModel">cancelar</span>
			<span class="flex v-ct waves-effect" printDocument>
					IMPRIMIR
					<svg class="spinner" viewBox="0 0 50 50">
						<circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
					</svg>
				</span>
		</div>
	</div>
</div>

<div id="xModalAnularConta" class="x-mobdal flex v-ct h-ct hideTarget" target="xModalAnularConta">
	<div class="modal-frame j-stp">
		<h3>Anular conta</h3>
		<div class="xform">
			<div class="input-field">
				<textarea class="materialize-textarea" id="anular_conta_obs"></textarea>
				<label for="anular_conta_obs">Motivo</label>
			</div>
		</div>
		<div class="master-btn-right flex">
			<span class="hideTarget" target="xModalAnularConta">CANCELAR</span>
			<span class="flex v-ct" id="confirmarAnularConta">
					CONCLUIR
					<svg class="spinner" viewBox="0 0 50 50">
						<circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
					</svg>
				</span>
		</div>
	</div>
</div>
<div id="xModalReportVenda" class="x-mobdal flex v-ct h-ct hideTarget" target="xModalReportVenda">
	<div class="modal-frame j-stp">
		<h3>Exportar relatório de vendas</h3>
		<div class="xform">
			<div class="input-field">
				<input type="text" data-inputmask-alias="dd-mm-yyyy" data-val="true" class="materialize-textarea" id="rp-vendas-start" />
				<label for="rp-vendas-start">Inicio</label>
			</div>
			<div class="input-field">
				<input type="text" data-inputmask-alias="dd-mm-yyyy" data-val="true" class="materialize-textarea" id="rp-vendas-end" />
				<label for="rp-vendas-end">Fim</label>
			</div>
		</div>
		<div class="master-btn-right flex">
			<span class="hideTarget" target="xModalReportVenda">CANCELAR</span>
			<span class="flex v-ct" id="printReportVenda">
					CONCLUIR
					<svg class="spinner" viewBox="0 0 50 50">
						<circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
					</svg>
				</span>
		</div>
	</div>
</div>
<div id="xModalOpenDocument" class="x-mobdal flex v-ct h-ct m-pdf-visualize" target="xModalOpenDocument">
	<div class="modal-frame">
		<div class="cctnrr flex h-sb">
			<div class="list-pdfs flex column">
				<b>Lista de documentos</b>
				<ul listDocuments class="grow-1"></ul>
			</div>
			<div class="container-pdf grow-1">
				<iframe id="iframe-pdf" src="" frameborder="0"></iframe>
			</div>
		</div>
	</div>
	<div class="controllers">
		<div closeDocuments class="flex v-ct h-ct">
			<svg width="24px" height="24px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill="#ff0000" d="M195.2 195.2a64 64 0 0 1 90.496 0L512 421.504 738.304 195.2a64 64 0 0 1 90.496 90.496L602.496 512 828.8 738.304a64 64 0 0 1-90.496 90.496L512 602.496 285.696 828.8a64 64 0 0 1-90.496-90.496L421.504 512 195.2 285.696a64 64 0 0 1 0-90.496z"></path></g></svg>
		</div>
		<div hideDocuments target="xModalOpenDocument" class="flex v-ct h-ct hideTarget">
			<svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M11.9425 1.25H12.0573C14.3657 1.24999 16.1747 1.24998 17.5862 1.43975C19.0309 1.63399 20.171 2.03933 21.0658 2.93414C21.9606 3.82895 22.3659 4.96897 22.5602 6.41371C22.7499 7.82519 22.7499 9.63423 22.7499 11.9426V12.0574C22.7499 14.3658 22.7499 16.1748 22.5602 17.5863C22.3659 19.031 21.9606 20.1711 21.0658 21.0659C20.2374 21.8943 19.198 22.3038 17.8993 22.514C16.6225 22.7207 15.0164 22.7458 13.0013 22.7494C12.5871 22.7502 12.2507 22.415 12.2499 22.0008C12.2492 21.5866 12.5843 21.2502 12.9986 21.2494C15.0385 21.2457 16.5216 21.2175 17.6596 21.0333C18.7756 20.8526 19.4765 20.5338 20.0051 20.0052C20.5748 19.4355 20.9017 18.6648 21.0735 17.3864C21.2483 16.0864 21.2499 14.3782 21.2499 12C21.2499 9.62178 21.2483 7.91356 21.0735 6.61358C20.9017 5.33517 20.5748 4.56445 20.0051 3.9948C19.4355 3.42514 18.6647 3.09825 17.3863 2.92637C16.0864 2.75159 14.3781 2.75 11.9999 2.75C9.62169 2.75 7.91347 2.75159 6.61349 2.92637C5.33509 3.09825 4.56437 3.42514 3.99471 3.9948C3.46609 4.52341 3.1473 5.22427 2.96665 6.34031C2.78246 7.47827 2.75416 8.96143 2.75049 11.0014C2.74974 11.4156 2.41335 11.7507 1.99914 11.75C1.58493 11.7493 1.24975 11.4129 1.25049 10.9986C1.25412 8.9835 1.27926 7.37741 1.48592 6.10063C1.69614 4.80193 2.10563 3.76255 2.93405 2.93414C3.82886 2.03933 4.96888 1.63399 6.41362 1.43975C7.82511 1.24998 9.63414 1.24999 11.9425 1.25Z" fill="#e2d003"></path> <path d="M16.5 12C16.5 12.4142 16.1642 12.75 15.75 12.75H12C11.5858 12.75 11.25 12.4142 11.25 12V8.25C11.25 7.83579 11.5858 7.5 12 7.5C12.4142 7.5 12.75 7.83579 12.75 8.25V10.1893L16.4697 6.46967C16.7626 6.17678 17.2374 6.17678 17.5303 6.46967C17.8232 6.76256 17.8232 7.23744 17.5303 7.53033L13.8107 11.25H15.75C16.1642 11.25 16.5 11.5858 16.5 12Z" fill="#e2d003"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M5.948 13.25C5.04952 13.25 4.3003 13.2499 3.70552 13.3299C3.07773 13.4143 2.51093 13.6 2.05546 14.0555C1.59999 14.5109 1.41432 15.0777 1.32991 15.7055C1.24995 16.3003 1.24997 17.0495 1.25 17.948V18.052C1.24997 18.9505 1.24995 19.6997 1.32991 20.2945C1.41432 20.9223 1.59999 21.4891 2.05546 21.9445C2.51093 22.4 3.07773 22.5857 3.70552 22.6701C4.3003 22.7501 5.04951 22.75 5.94798 22.75H6.052C6.95047 22.75 7.69971 22.7501 8.29448 22.6701C8.92228 22.5857 9.48908 22.4 9.94455 21.9445C10.4 21.4891 10.5857 20.9223 10.6701 20.2945C10.7501 19.6997 10.75 18.9505 10.75 18.052V17.948C10.75 17.0495 10.7501 16.3003 10.6701 15.7055C10.5857 15.0777 10.4 14.5109 9.94455 14.0555C9.48908 13.6 8.92228 13.4143 8.29448 13.3299C7.6997 13.2499 6.95048 13.25 6.052 13.25H5.948ZM3.11612 15.1161C3.24644 14.9858 3.44393 14.8786 3.9054 14.8165C4.38843 14.7516 5.03599 14.75 6 14.75C6.96401 14.75 7.61157 14.7516 8.09461 14.8165C8.55607 14.8786 8.75357 14.9858 8.88389 15.1161C9.0142 15.2464 9.12143 15.4439 9.18347 15.9054C9.24841 16.3884 9.25 17.036 9.25 18C9.25 18.964 9.24841 19.6116 9.18347 20.0946C9.12143 20.5561 9.0142 20.7536 8.88389 20.8839C8.75357 21.0142 8.55607 21.1214 8.09461 21.1835C7.61157 21.2484 6.96401 21.25 6 21.25C5.03599 21.25 4.38843 21.2484 3.9054 21.1835C3.44393 21.1214 3.24644 21.0142 3.11612 20.8839C2.9858 20.7536 2.87858 20.5561 2.81654 20.0946C2.7516 19.6116 2.75 18.964 2.75 18C2.75 17.036 2.7516 16.3884 2.81654 15.9054C2.87858 15.4439 2.9858 15.2464 3.11612 15.1161Z" fill="#e2d003"></path> </g></svg>
		</div>
	</div>
</div>
<div class="minimized-modal-bar hide">
	<div class="m-modal flex h-sb v-ct"><span>Documentos</span>
		<svg close-mini-modal width="24px" height="17px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill="#ff0000" d="M195.2 195.2a64 64 0 0 1 90.496 0L512 421.504 738.304 195.2a64 64 0 0 1 90.496 90.496L602.496 512 828.8 738.304a64 64 0 0 1-90.496 90.496L512 602.496 285.696 828.8a64 64 0 0 1-90.496-90.496L421.504 512 195.2 285.696a64 64 0 0 1 0-90.496z"></path></g></svg>
	</div>
</div>
</body>
<script src="../assets/fw/sortable/jquery.sortable.min.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/inputMask.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/fw/materialize/js/materialize.min.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/main.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/geral.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/pos/payment.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/admin/articleTax.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/pos/account.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/pos/pos.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/pos/categoriasArtigosPOS.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/pos/posale.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/pos/keyboard.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/pos/box.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/pos/sales.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/pos/fatura.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/pos/retalho.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/pos/stepForward.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/serieOperation.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/printSpaceConfig.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/socket/Config.js?v=<%=VERSION.TAG%>"></script>
<script src="/MGT/socket.io.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/socket/Package.js?v=<%=VERSION.TAG%>"></script>
<script src="../assets/js/socket/Socket.js?v=<%=VERSION.TAG%>"></script>
</html>
