<!DOCTYPE html>
<html lang="en">
<style>
    #version{
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none !important;
        font-size: 1rem;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="assets/img/luma.png?v=<%=VERSION.TAG%>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/default.css?v=<%=VERSION.TAG%>">
    <link rel="stylesheet" href="assets/css/prev.css?v=<%=VERSION.TAG%>">
    <script src="assets/js/jquery.js?v=<%=VERSION.TAG%>"></script>
    <script src="assets/js/admin/postIdentifier.js?v=<%=VERSION.TAG%>"></script>
    <title>Luma | Software de faturação e POS</title>
</head>
<style>
    .licenceNearOut {
        color: tomato;
    }

    .licenceFull {
        color: green;
    }
</style>
<body>
    <div class="prima">
        <header class="flex">
            <b>Posto : <small posto></small></b>
            <a href="./admin<%=REMOTE.VERSION%>">Administração</a>
        </header>
        <main>
            <div>
                <h1>Luma <span id="version"></span></h1>
                <p>É um sistema robusto e intuitivo concebido para responder às necessidades de gestão de pontos de venda de uma empresa. É um sistema POS que se destina a sistematizar e estruturar o controle de vendas e estoques do ponto físico da empresa, visando aumentar a sua produtividade e ajudando-a a faturar de forma rápida, prática e segura.</p>
                <a href="./pos<%=REMOTE.VERSION%>">Ir para POS</a>
            </div>
        </main>
        <footer>
            <div class="flex">
                <span>Copyright © <script>document.write(new Date().getFullYear())</script>&nbsp;<a href="https://www.brainsoftstp.com" target="_blank" style="font-size: 1rem;">| Desenvolvido por Brainsoft</a></span>
                <p style="margin-top: 1rem;">Licença válida até <b id="dataDesejadaFormatada"></b> | <b id="diasRestantes" class="licenceFull"></b></b></p>
            </div>
        </footer>
    </div>
</body>
<script src="assets/fw/moment/moment.min.js?v=<%=VERSION.TAG%>"></script>
<script src="assets/fw/moment/moment-timezone.js?v=<%=VERSION.TAG%>"></script>
<script type="module" src="assets/js/version.js?v=<%=VERSION.TAG%>"></script>
<script src="assets/js/geral.js?v=<%=VERSION.TAG%>"></script>
</html>
