<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="assets/img/luma.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/default.css?v=<%=VERSION.TAG%>">
  <link rel="stylesheet" href="assets/css/prev.css?v=<%=VERSION.TAG%>">
  <link rel="stylesheet" href="assets/css/pos/home.css?v=<%=VERSION.TAG%>">
  <link rel="stylesheet" href="assets/css/main.css?v=<%=VERSION.TAG%>">
  <script>
    var VERSION = {
      TAG: `<%=VERSION.TAG%>`,
      NUMBER: `<%=VERSION.NUMBER %>`,
      VERSION_NAME: `<%=VERSION.VERSION_NAME%>`,
      REV: `<%=VERSION.revs %>`,
    }
  </script>
  <script src="assets/js/jquery.js?v=<%=VERSION.TAG%>"></script>
  <script src="assets/js/remote-access.js?v=<%=VERSION.TAG%>"></script>
  <script src="assets/js/admin/postIdentifier.js?v=<%=VERSION.TAG%>"></script>
  <title>Luma | Renovação de licença</title>
</head>

<body>
<div class="prima">
  <main>
    <div>
      <h1>Luma</h1>
      <p>Carregue a nova licença para ativar o sistema!</p>
      <a href="#" id="loadLicense"><span>Carregar licença</span></a>
    </div>
    <input type="file" id="license" style="display: none;"  accept=".lic">
  </main>

  <footer>
    <div>
      <span>Copyright © <script>document.write(new Date().getFullYear())</script>&nbsp;<a href="https://www.brainsoftstp.com" target="_blank" style="font-size: 1rem;">| Desenvolvido por Brainsoft</a></span>
    </div>
  </footer>
</div>
<div class="xAlertContainer">
</div>

</body>
<script src="assets/js/geral.js?v=<%=VERSION.TAG%>"></script>
<script src="assets/js/license.js?v=<%=VERSION.TAG%>"></script>
<script src="assets/js/main.js?v=<%=VERSION.TAG%>"></script>

</html>
